## Importing

In [38]:
import numpy as np
from tqdm import tqdm
import os
from openpyxl import load_workbook
import pandas as pd
import glob
import datetime
import logging
pd.set_option('display.max_columns', None)
import subprocess, sys, importlib

subprocess.check_call([sys.executable, "-m", "pip", "install", "xlrd>=2.0.1"])
importlib.invalidate_caches()

In [39]:
import pandas as pd
from tqdm import tqdm

# Specify the path to the Excel file
# input_file_path = r"C:\Users\10101647\Downloads\User Template for Testing Mass Create - SUL - 5Feb2025.xlsx"
input_file_path = r"C:\Users\10101647\OneDrive - JAPFA\Documents\Commercial\Vendor May\Template Master Vendor 2025 SAP MEI Filtered.xls"

# Define the sheet names to import
sheet_names = ['Basic', 'Contact', 'TeamMember-GEP', 'Company', 'Purch', 'Bank']

# Create a dictionary to hold the DataFrames
input_data = {}

# Load all sheets and ensure all columns are loaded as strings
with pd.ExcelFile(input_file_path) as xls:
    print(f"Available sheets in the file: {xls.sheet_names}")
    
    for sheet_name in tqdm(sheet_names, desc="Importing Sheets", unit="sheet"):
        if sheet_name in xls.sheet_names:
            # Load all columns as strings
            input_data[sheet_name] = pd.read_excel(xls, sheet_name=sheet_name, dtype=str)
            tqdm.write(f"Loaded sheet: {sheet_name}")
        else:
            tqdm.write(f"Warning: Sheet '{sheet_name}' not found in the Excel file.")

# Verify the loaded data
for name, df in input_data.items():
    print(f"\nSheet: {name}")
    print(df.head())


# Define the directory for the output
base_folder = r"C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Mass Create\Automation"
timestamp = datetime.now().strftime("%Y%m%d_%H%M")
output_folder = os.path.join(base_folder, f"Combined_Data_{timestamp}")
os.makedirs(output_folder, exist_ok=True)

Available sheets in the file: ['Org Entity-NOT USED', 'Instruction', 'Basic', 'Mapping', 'Contact', 'Company', 'Bank', 'Purch', 'TeamMember-GEP', 'Identification', 'Engagement Model Status']

Importing Sheets: 100%|████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 81.22sheet/s]

Loaded sheet: Basic
Loaded sheet: Contact
Loaded sheet: TeamMember-GEP
Loaded sheet: Company
Loaded sheet: Purch
Loaded sheet: Bank

Sheet: Basic
  VendorCode Old  VendorCode AccountGroup                   Name Prefix  \
0     V000000132  1280002097         ZTPV         ASTRA DAIHATSU      -
1     V000000133  1280002098         ZTPV      HADJI KALLA MAROS      -
2     V000000134  1280002099         ZTPV  ISUZU MOBILINDO PLAZA      -
3     V000000135  1280002100         ZTPV  HOTEL DALTON MAKASSAR      -
4     V000000136  1280002101         ZTPV        HOTEL SWIS BELL      -

  Subcategory ServiceLocation             Classification  \
0         NaN       Indonesia  Local-Individual-Non NPWP
1         NaN       Indonesia  Local-Individual-Non NPWP
2         NaN       Indonesia  Local-Individual-Non NPWP
3         NaN       Indonesia  Local-Individual-Non NPWP
4         NaN       Indonesia  Local-Individual-Non NPWP

      ControlDepartment SearchTerm Remark MaterialServiceSupplied  \
0  Finance & Accounting   SULAWESI    NaN                     NaN
1  Finance & Accounting   SULAWESI    NaN                     NaN
2  Finance & Accounting   SULAWESI    NaN                     NaN
3  Finance & Accounting   SULAWESI    NaN                     NaN
4  Finance & Accounting   SULAWESI    NaN                     NaN

                                            Address1 Address2 CountryID  \
0  JL URIP SUMOHARJO NO64 SINRIJALA KEC PANAKKUKA...      NaN        ID
1  JL POROS MAKASSAR - MAROS NO6 TAROADA KEC TURI...      NaN        ID
2                    JL URIP SUMOHARDJO KM6 MAKASSAR      NaN        ID
3         JL PERINTIS KEMERDEKAAN NO2 KM 16 MAKASSAR      NaN        ID
4  JL UJUNG PANDANG NO8 BONTOALA KEC MAKASSAR KOT...      NaN        ID

              State      City PostalCode Currency POBox           VatReg  \
0  SULAWESI SELATAN  MAKASSAR      90144      IDR   NaN  000000000000000
1  SULAWESI SELATAN  MAKASSAR      90241      IDR   NaN  000000000000000
2  SULAWESI SELATAN  MAKASSAR      00000      IDR   NaN  000000000000000
3  SULAWESI SELATAN  MAKASSAR      90234      IDR   NaN  000000000000000
4  SULAWESI SELATAN  MAKASSAR      90111      IDR   NaN  000000000000000

                NIK NITKU VatLama  LOB TradingPartner InstructionKey  \
0  0000000000000000   NaN     NaN  PE2            NaN            NaN
1  0000000000000000   NaN     NaN  PE2            NaN            NaN
2  0000000000000000   NaN     NaN  PE2            NaN            NaN
3  0000000000000000   NaN     NaN  PE2            NaN            NaN
4  0000000000000000   NaN     NaN  PE2            NaN            NaN

  SupplierManagerEmail EntryUser EntryDate UpdateUser UpdateDate
0                  NaN       NaN       NaN        NaN        NaN
1                  NaN       NaN       NaN        NaN        NaN
2                  NaN       NaN       NaN        NaN        NaN
3                  NaN       NaN       NaN        NaN        NaN
4                  NaN       NaN       NaN        NaN        NaN

Sheet: Contact
  Operation  VendorCode VendorCode Old              FirstName LastName  \
0    CREATE  1280002097     V000000132         ASTRA DAIHATSU        -
1    CREATE  1280002098     V000000133      HADJI KALLA MAROS        -
2    CREATE  1280002099     V000000134  ISUZU MOBILINDO PLAZA        -
3    CREATE  1280002100     V000000135  HOTEL DALTON MAKASSAR        -
4    CREATE  1280002101     V000000136        HOTEL SWIS BELL        -

  emailAddress Telp1 Telp2  Fax designation contactStatus isPrimary EntryUser  \
0            -   NaN   NaN  NaN         NaN           NaN      True       NaN
1            -   NaN   NaN  NaN         NaN           NaN      True       NaN
2            -   NaN   NaN  NaN         NaN           NaN      True       NaN
3            -   NaN   NaN  NaN         NaN           NaN      True       NaN
4            -   NaN   NaN  NaN         NaN           NaN      True       NaN

  EntryDate UpdateUser UpdateDate
0       NaN        NaN        NaN
1       NaN        NaN        NaN
2       NaN        NaN        NaN
3       NaN        NaN        NaN
4       NaN        NaN        NaN

Sheet: TeamMember-GEP
  Operation  VendorCode                   stakeholderName  \
0    Create  1280001001             Agustina Perwakadhati
1       NaN         NaN                               NaN
2    Notes:         NaN  Refer to master data Buyer User

                       emailAddress                          roleName  \
0   agustina.perwakadhati@japfa.com                   MDM Coordinator
1                               NaN                               NaN
2  Refer to master data Buyer User   Refer to master data Team Member

                                           EntryUser            EntryDate  \
0                                           ADISUCIP  5/8/2023 9:46:43 AM
1                                                NaN                  NaN
2  Optional: untuk control user & tanggal perubah...                  NaN

  UpdateUser            UpdateDate
0    MNASIRP  7/28/2023 1:42:17 PM
1        NaN                   NaN
2        NaN                   NaN

Sheet: Company
  Operation  VendorCode VendorCode Old CompanyCode AccountGroup ReconAccount  \
0    CREATE  1280002097     V000000132        ID7S         ZTPV   2131100099
1    CREATE  1280002098     V000000133        ID7S         ZTPV   2131100099
2    CREATE  1280002099     V000000134        ID7S         ZTPV   2131100099
3    CREATE  1280002100     V000000135        ID7S         ZTPV   2131100099
4    CREATE  1280002101     V000000136        ID7S         ZTPV   2131100099

  SortKey CashMngmtGroup PaymentMethod IndividualPayment WHTType WHTCode  \
0     000             H1             T             FALSE      W1      ZZ
1     000             H1             T             FALSE      W1      ZZ
2     000             H1             T             FALSE      W1      ZZ
3     000             H1             T             FALSE      W1      ZZ
4     000             H1             T             FALSE      W1      ZZ

  CompanyCodeCountry Block Company   Status GEP PaymentTerms EntryUser  \
0                 ID           NaN  Non Go live     TCOD-PE2   ADISUCP
1                 ID           NaN  Non Go live     TCOD-PE2   ADISUCP
2                 ID           NaN  Non Go live     TCOD-PE2   ADISUCP
3                 ID           NaN  Non Go live     TCOD-PE2   ADISUCP
4                 ID           NaN  Non Go live     TCOD-PE2   ADISUCP

  EntryDate UpdateUser UpdateDate
0       NaN        NaN        NaN
1       NaN        NaN        NaN
2       NaN        NaN        NaN
3       NaN        NaN        NaN
4       NaN        NaN        NaN

Sheet: Purch
  Operation  VendorCode VendorCode Old PurchOrg AccountGroup Currency  \
0    CREATE  1280002097     V000000132     7S00         ZTPV      IDR
1    CREATE  1280002098     V000000133     7S00         ZTPV      IDR
2    CREATE  1280002099     V000000134     7S00         ZTPV      IDR
3    CREATE  1280002100     V000000135     7S00         ZTPV      IDR
4    CREATE  1280002101     V000000136     7S00         ZTPV      IDR

  PaymentTerms Incoterms GRBased SRVBased Schma Grp Vendor Block StatusPurch  \
0     TCOD-PE2       FRA    TRUE     TRUE              NaN             FALSE
1     TCOD-PE2       FRA    TRUE     TRUE              NaN             FALSE
2     TCOD-PE2       FRA    TRUE     TRUE              NaN             FALSE
3     TCOD-PE2       FRA    TRUE     TRUE              NaN             FALSE
4     TCOD-PE2       FRA    TRUE     TRUE              NaN             FALSE

    Status GEP EntryUser EntryDate UpdateUser UpdateDate
0  Non Go live  ADISUCIP       NaN        NaN        NaN
1  Non Go live  ADISUCIP       NaN        NaN        NaN
2  Non Go live  ADISUCIP       NaN        NaN        NaN
3  Non Go live  ADISUCIP       NaN        NaN        NaN
4  Non Go live  ADISUCIP       NaN        NaN        NaN

Sheet: Bank
  Operation  VendorCode VendorCode Old PaymentMethod CountryBank SwiftCode  \
0    CREATE  1280002097     V000000132             T          ID  BBBAIDJA
1    CREATE  1280002098     V000000133             T          ID  BMRIIDJA
2    CREATE  1280002099     V000000134             T          ID  BMRIIDJA
3    CREATE  1280002100     V000000135             T          ID  BMRIIDJA
4    CREATE  1280002101     V000000136             T          ID  BMRIIDJA

   BankKey PartnerBankType                BeneficiaryName      BankName  \
0   130000             IDR                 ASTRA DAIHATSU  BANK PERMATA
1  0080000             IDR              HADJI KALLA MAROS  BANK MANDIRI
2  0080000             IDR       PT ISUZU MOBILINDO PLAZA  BANK MANDIRI
3  0080000             IDR  PT. FHINISI PERINTIS MAKASSAR  BANK MANDIRI
4  0080000             IDR         PT BUMI ANUGERAH SAKTI  BANK MANDIRI

      BankNumber BankRef IBAN EntryUser EntryDate UpdateUser UpdateDate
0     0555232012     NaN  NaN       NaN       NaN        NaN        NaN
1  1520033223377     NaN  NaN       NaN       NaN        NaN        NaN
2  1520095599995     NaN  NaN       NaN       NaN        NaN        NaN
3  1520024830222     NaN  NaN       NaN       NaN        NaN        NaN
4  1520020520009     NaN  NaN       NaN       NaN        NaN        NaN

In [40]:
# Specify the path to the Excel file
excel_file_path = r"C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Report\Supplier Master Data Update 12 Nov 2024.xlsx"

# Define the sheet names to import
sheet_names = [
    'Org Entity-NOT USED', 'Instruction', 'Org Entity', 'Category',
    'Control Department', 'Region', 'Supplier Name Prefix', 'Classification',
    'Trading Partner', 'Instruction key', 'Sort Key', 'Planning Cash Management',
    'Schema Grp Vendor', 'Identification', 'Buyer User', 'Team Member', 'Recon Account',
    'Payment Terms', 'Partner Bank Type', 'SwiftCode-PE1', 'SwiftCode-PE2', 'Country',
    'Currency', 'State', 'Incoterms', 'WHT', 'Supplier Status', 'Engagement Model Status',
    'Location Status', 'Onboarding Type ', 'Payment Method'
]

# Create a dictionary to hold the DataFrames
master_data = {}

# Load the Excel file
with pd.ExcelFile(excel_file_path) as xls:
    print(f"Available sheets in the file: {xls.sheet_names}")
    
    for sheet_name in tqdm(sheet_names, desc="Importing Sheets", unit="sheet"):
        if sheet_name in xls.sheet_names:
            # Load all columns as strings to preserve data integrity
            master_data[sheet_name] = pd.read_excel(xls, sheet_name=sheet_name, dtype=str)
            tqdm.write(f"Loaded sheet: {sheet_name}")
        else:
            tqdm.write(f"Warning: Sheet '{sheet_name}' not found in the Excel file.")

Available sheets in the file: ['Org Entity-NOT USED', 'Instruction', 'Org Entity', 'Category', 'Control Department', 'Region', 'Supplier Name Prefix', 'Classification', 'Trading Partner', 'Instruction key', 'Sort Key', 'Planning Cash Management', 'Schema Grp Vendor', 'Identification', 'Buyer User', 'Team Member', 'Recon Account', 'Payment Terms', 'Partner Bank Type', 'SwiftCode-PE1', 'SwiftCode-PE2', 'Country', 'Currency', 'State', 'Incoterms', 'WHT', 'Supplier Status', 'Engagement Model Status', 'Location Status', 'Onboarding Type ', 'Payment Method']

Importing Sheets:   3%|██▍                                                                        | 1/31 [01:23<41:40, 83.34s/sheet]

Loaded sheet: Org Entity-NOT USED
Loaded sheet: Instruction

Importing Sheets:  10%|███████▎                                                                   | 3/31 [01:23<10:07, 21.68s/sheet]

Loaded sheet: Org Entity

Importing Sheets:  13%|█████████▋                                                                 | 4/31 [01:23<06:25, 14.27s/sheet]

Loaded sheet: Category
Loaded sheet: Control Department

Importing Sheets:  35%|██████████████████████████▎                                               | 11/31 [01:24<00:52,  2.63s/sheet]

Loaded sheet: Region
Loaded sheet: Supplier Name Prefix
Loaded sheet: Classification
Loaded sheet: Trading Partner
Loaded sheet: Instruction key
Loaded sheet: Sort Key
Loaded sheet: Planning Cash Management
Loaded sheet: Schema Grp Vendor
Loaded sheet: Identification

Importing Sheets:  48%|███████████████████████████████████▊                                      | 15/31 [01:24<00:25,  1.57s/sheet]C:\Users\10101647\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

Loaded sheet: Buyer User
Loaded sheet: Team Member
Loaded sheet: Recon Account
Loaded sheet: Payment Terms

Importing Sheets:  61%|█████████████████████████████████████████████▎                            | 19/31 [01:24<00:11,  1.00sheet/s]

Loaded sheet: Partner Bank Type

Importing Sheets:  61%|█████████████████████████████████████████████▎                            | 19/31 [01:25<00:11,  1.00sheet/s]

Loaded sheet: SwiftCode-PE1

Importing Sheets:  68%|██████████████████████████████████████████████████▏                       | 21/31 [01:25<00:08,  1.12sheet/s]C:\Users\10101647\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
Importing Sheets:  68%|██████████████████████████████████████████████████▏                       | 21/31 [01:26<00:08,  1.12sheet/s]

Loaded sheet: SwiftCode-PE2
Loaded sheet: Country
Loaded sheet: Currency

Importing Sheets:  77%|█████████████████████████████████████████████████████████▎                | 24/31 [01:26<00:04,  1.51sheet/s]

Loaded sheet: State
Loaded sheet: Incoterms

Importing Sheets: 100%|██████████████████████████████████████████████████████████████████████████| 31/31 [01:26<00:00,  2.80s/sheet]

Loaded sheet: WHT
Loaded sheet: Supplier Status
Loaded sheet: Engagement Model Status
Loaded sheet: Location Status
Loaded sheet: Onboarding Type
Loaded sheet: Payment Method

## Data Preprocessing

### Data Cleaning

#### Functions

In [41]:
# Extract 'Contact' sheet before cleaning
contact_before = input_data.get('Contact', pd.DataFrame())
# Define cleaning functions

def remove_empty_rows(df):
    """
    Remove rows where all elements are NaN or empty.
    """
    cleaned_df = df.dropna(how='all').reset_index(drop=True)
    print(f"Removed empty rows. Remaining rows: {len(cleaned_df)}")
    return cleaned_df

def convert_columns_to_string(df):
    """
    Convert all columns in the DataFrame to strings.
    For numeric columns, ensure integers are represented without decimals.
    """
    for col in df.columns:
        # Convert numeric columns to strings without decimals
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = df[col].apply(lambda x: str(int(x)) if pd.notnull(x) and x == x else "")
        else:
            # Convert non-numeric columns directly to strings
            df[col] = df[col].astype(str).replace("nan", "").replace("<NA>", "").fillna("")
    print("Converted all columns to string type.")
    return df


def fill_missing_values(df, fill_value=""):
    """
    Fill missing values in the DataFrame with a default value.
    Replace empty strings as well for consistency.
    """
    df = df.replace({None: fill_value, np.nan: fill_value, "nan": fill_value, "<NA>": fill_value})
    print(f"Filled missing values with: '{fill_value}'")
    return df

def strip_whitespace(df):
    """
    Strip leading and trailing whitespace from string columns.
    """
    str_columns = df.select_dtypes(include=["object", "string"]).columns
    for col in str_columns:
        if df[col].dtype == "object" or pd.api.types.is_string_dtype(df[col]):
            df[col] = df[col].astype(str).str.strip()  # Ensure the column is treated as a string
    print("Stripped whitespace from string columns.")
    return df


def standardize_column_names(df):
    """
    Standardize column names: lowercase, replace spaces with underscores.
    """
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.replace(" *", "")
    df.columns = df.columns.str.replace("*", "")
    df.columns = df.columns.str.replace("+", "")
    df.columns = df.columns.str.replace(" ", "_")
    df.columns = df.columns.str.replace("(", "")
    df.columns = df.columns.str.replace(")", "")
    df.columns = df.columns.str.replace("|", "")
    df.columns = df.columns.str.replace("nan", "")
    
    print("Standardized column names.")
    return df

def remove_duplicates(df, subset=None):
    """
    Remove duplicate rows based on all columns or specific subset.
    """
    before = len(df)
    deduped_df = df.drop_duplicates(subset=subset)
    after = len(deduped_df)
    print(f"Removed {before - after} duplicate rows.")
    return deduped_df

def validate_data_types(df, expected_types):
    """
    Validate and enforce column data types.
    Parameters:
        - expected_types: dict with column names as keys and expected types as values.
    """
    for column, dtype in expected_types.items():
        if column in df.columns:
            df[column] = df[column].astype(dtype)
    print("Validated and enforced data types.")
    return df

# def filter_invalid_rows(df, column, valid_values):
#     """
#     Remove rows where the specified column has invalid values.
#     """
#     filtered_df = df[df[column].str.endswith(tuple(valid_values), na=False)].reset_index(drop=True)
#     print(f"Filtered invalid rows in column '{column}'. Remaining rows: {len(filtered_df)}")
#     return filtered_df

# Function to clean all sheets in a dictionary
def clean_all_sheets(data_dict, cleaning_functions):
    """
    Apply cleaning functions to all DataFrames in a dictionary.

    Parameters:
    - data_dict: Dictionary of DataFrames to be cleaned.
    - cleaning_functions: List of cleaning functions to apply sequentially.

    Returns:
    - Cleaned dictionary of DataFrames.
    """
    cleaned_data = {}
    for sheet_name, df in tqdm(data_dict.items(), desc="Cleaning Sheets", unit="sheet"):
        print(f"\nCleaning sheet: {sheet_name}")
        for func in cleaning_functions:
            df = func(df)  # Apply each cleaning function
        cleaned_data[sheet_name] = df
    return cleaned_data

# List of cleaning functions to apply
cleaning_functions = [
     convert_columns_to_string,
     remove_empty_rows,
     fill_missing_values,  # Default fill value is ""
     strip_whitespace,
    standardize_column_names
    # lambda df: remove_duplicates(df, subset=None)  # Deduplicate based on all columns
]

# Clean input_data sheets
print("\n=== Cleaning Input Data Sheets ===")
cleaned_input_data = clean_all_sheets(input_data, cleaning_functions)

# Clean master_data sheets
print("\n=== Cleaning Master Data Sheets ===")
cleaned_master_data = clean_all_sheets(master_data, cleaning_functions)

# Extract 'Contact' sheet after cleaning
contact_after = cleaned_input_data.get('Contact', pd.DataFrame())

=== Cleaning Input Data Sheets ===

Cleaning Sheets:   0%|                                                                                     | 0/6 [00:00<?, ?sheet/s]

Cleaning sheet: Basic
Converted all columns to string type.
Removed empty rows. Remaining rows: 54
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Contact
Converted all columns to string type.

Cleaning Sheets:  33%|█████████████████████████▋                                                   | 2/6 [00:00<00:00, 19.05sheet/s]

Removed empty rows. Remaining rows: 15
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: TeamMember-GEP
Converted all columns to string type.
Removed empty rows. Remaining rows: 3
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Company
Converted all columns to string type.
Removed empty rows. Remaining rows: 15
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Purch

Cleaning Sheets:  83%|████████████████████████████████████████████████████████████████▏            | 5/6 [00:00<00:00, 24.48sheet/s]

Converted all columns to string type.
Removed empty rows. Remaining rows: 15
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning Sheets: 100%|█████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 22.36sheet/s]

Cleaning sheet: Bank
Converted all columns to string type.
Removed empty rows. Remaining rows: 1289
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

=== Cleaning Master Data Sheets ===

Cleaning Sheets:   0%|                                                                                    | 0/31 [00:00<?, ?sheet/s]

Cleaning sheet: Org Entity-NOT USED
Converted all columns to string type.
Removed empty rows. Remaining rows: 335808
Filled missing values with: ''

Cleaning Sheets:  16%|████████████▎                                                               | 5/31 [00:05<00:22,  1.13sheet/s]

Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Instruction
Converted all columns to string type.
Removed empty rows. Remaining rows: 12
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Org Entity
Converted all columns to string type.
Removed empty rows. Remaining rows: 668
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Category
Converted all columns to string type.
Removed empty rows. Remaining rows: 1100
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Control Department
Converted all columns to string type.
Removed empty rows. Remaining rows: 26
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Region
Converted all columns to string type.
Removed empty rows. Remaining rows: 892
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Supplier Name Prefix
Converted all columns to string type.
Removed empty rows. Remaining rows: 36
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Classification

Cleaning Sheets:  26%|███████████████████▌                                                        | 8/31 [00:05<00:11,  2.09sheet/s]

Converted all columns to string type.
Removed empty rows. Remaining rows: 9
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Trading Partner
Converted all columns to string type.
Removed empty rows. Remaining rows: 61
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Instruction key
Converted all columns to string type.

Cleaning Sheets:  48%|████████████████████████████████████▎                                      | 15/31 [00:06<00:03,  5.06sheet/s]

Removed empty rows. Remaining rows: 44
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Sort Key
Converted all columns to string type.
Removed empty rows. Remaining rows: 42
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Planning Cash Management
Converted all columns to string type.
Removed empty rows. Remaining rows: 16
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Schema Grp Vendor
Converted all columns to string type.
Removed empty rows. Remaining rows: 6
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Identification
Converted all columns to string type.
Removed empty rows. Remaining rows: 4
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Buyer User
Converted all columns to string type.
Removed empty rows. Remaining rows: 601
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Team Member

Cleaning Sheets:  61%|█████████████████████████████████████████████▉                             | 19/31 [00:06<00:01,  7.37sheet/s]

Converted all columns to string type.
Removed empty rows. Remaining rows: 12
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Recon Account
Converted all columns to string type.
Removed empty rows. Remaining rows: 82
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Payment Terms
Converted all columns to string type.
Removed empty rows. Remaining rows: 83
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Partner Bank Type
Converted all columns to string type.
Removed empty rows. Remaining rows: 469
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: SwiftCode-PE1
Converted all columns to string type.
Removed empty rows. Remaining rows: 4637
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: SwiftCode-PE2
Converted all columns to string type.
Removed empty rows. Remaining rows: 2690

Cleaning Sheets:  84%|██████████████████████████████████████████████████████████████▉            | 26/31 [00:06<00:00, 12.36sheet/s]

Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Country
Converted all columns to string type.
Removed empty rows. Remaining rows: 245
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Currency
Converted all columns to string type.
Removed empty rows. Remaining rows: 19
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: State
Converted all columns to string type.
Removed empty rows. Remaining rows: 1911
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Incoterms
Converted all columns to string type.
Removed empty rows. Remaining rows: 22
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: WHT
Converted all columns to string type.
Removed empty rows. Remaining rows: 884
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Supplier Status

Cleaning Sheets: 100%|███████████████████████████████████████████████████████████████████████████| 31/31 [00:06<00:00,  4.46sheet/s]

Converted all columns to string type.
Removed empty rows. Remaining rows: 10
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Engagement Model Status
Converted all columns to string type.
Removed empty rows. Remaining rows: 7
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Location Status
Converted all columns to string type.
Removed empty rows. Remaining rows: 8
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Onboarding Type
Converted all columns to string type.
Removed empty rows. Remaining rows: 9
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

Cleaning sheet: Payment Method
Converted all columns to string type.
Removed empty rows. Remaining rows: 58
Filled missing values with: ''
Stripped whitespace from string columns.
Standardized column names.

In [42]:
# Displaying the 'Contact' sheet before and after cleansing again

# Show 'Contact' sheet before cleaning
print("\n=== Contact Sheet Before Cleaning ===")
display(contact_before.head())

# Show 'Contact' sheet after cleaning
print("\n=== Contact Sheet After Cleaning ===")
display(contact_after.head())

=== Contact Sheet Before Cleaning ===

,Operation,VendorCode,VendorCode Old,FirstName,LastName,emailAddress,Telp1,Telp2,Fax,designation,contactStatus,isPrimary,EntryUser,EntryDate,UpdateUser,UpdateDate
0,CREATE,1280002097,V000000132,ASTRA DAIHATSU,-,-,,,,,,True,,,,
1,CREATE,1280002098,V000000133,HADJI KALLA MAROS,-,-,,,,,,True,,,,
2,CREATE,1280002099,V000000134,ISUZU MOBILINDO PLAZA,-,-,,,,,,True,,,,
3,CREATE,1280002100,V000000135,HOTEL DALTON MAKASSAR,-,-,,,,,,True,,,,
4,CREATE,1280002101,V000000136,HOTEL SWIS BELL,-,-,,,,,,True,,,,

=== Contact Sheet After Cleaning ===

,Operation,VendorCode,VendorCode_Old,FirstName,LastName,emailAddress,Telp1,Telp2,Fax,designation,contactStatus,isPrimary,EntryUser,EntryDate,UpdateUser,UpdateDate
0,CREATE,1280002097,V000000132,ASTRA DAIHATSU,-,-,,,,,,True,,,,
1,CREATE,1280002098,V000000133,HADJI KALLA MAROS,-,-,,,,,,True,,,,
2,CREATE,1280002099,V000000134,ISUZU MOBILINDO PLAZA,-,-,,,,,,True,,,,
3,CREATE,1280002100,V000000135,HOTEL DALTON MAKASSAR,-,-,,,,,,True,,,,
4,CREATE,1280002101,V000000136,HOTEL SWIS BELL,-,-,,,,,,True,,,,

In [43]:
# Replace and convert to uppercase for both columns
input_data['Contact']['isPrimary'] = input_data['Contact']['isPrimary'].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()
input_data['Purch']["GRBased"] = input_data['Purch']["GRBased"].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()
input_data['Purch']["SRVBased"] = input_data['Purch']["SRVBased"].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()

# Verify the result
print(input_data['Purch'][["GRBased", "SRVBased"]])

   GRBased SRVBased
0     TRUE     TRUE
1     TRUE     TRUE
2     TRUE     TRUE
3     TRUE     TRUE
4     TRUE     TRUE
5     TRUE     TRUE
6     TRUE     TRUE
7     TRUE     TRUE
8     TRUE     TRUE
9     TRUE     TRUE
10    TRUE     TRUE
11    TRUE     TRUE
12    TRUE     TRUE
13    TRUE     TRUE
14    TRUE     TRUE

#### Calling All Sheets

In [44]:
for sheet_name, df in cleaned_input_data.items():
    # Sanitize sheet names: remove extra spaces, replace spaces with underscores, and convert to lowercase
    sanitized_name = sheet_name.strip().replace(" ", "_").replace("-", "_").lower()
    globals()[f"user_{sanitized_name}"] = df
    print(f"user_{sanitized_name}")

user_basic
user_contact
user_teammember_gep
user_company
user_purch
user_bank

In [45]:
for sheet_name, df in cleaned_master_data.items():
    # Sanitize sheet names: remove extra spaces, replace spaces with underscores, and convert to lowercase 
    sanitized_name = sheet_name.strip().replace(" ", "_").replace("-", "_").lower()
    # Create a global variable with the sanitized name
    globals()[f"master_{sanitized_name}"] = df
    print(f"master_{sanitized_name}")

master_org_entity_not_used
master_instruction
master_org_entity
master_category
master_control_department
master_region
master_supplier_name_prefix
master_classification
master_trading_partner
master_instruction_key
master_sort_key
master_planning_cash_management
master_schema_grp_vendor
master_identification
master_buyer_user
master_team_member
master_recon_account
master_payment_terms
master_partner_bank_type
master_swiftcode_pe1
master_swiftcode_pe2
master_country
master_currency
master_state
master_incoterms
master_wht
master_supplier_status
master_engagement_model_status
master_location_status
master_onboarding_type
master_payment_method

In [46]:
user_contact['isPrimary'] = user_contact['isPrimary'].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()
user_purch["GRBased"] = user_purch["GRBased"].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()
user_purch["SRVBased"] = user_purch["SRVBased"].replace({True: "TRUE", False: "FALSE"}).astype(str).str.upper()

In [47]:
master_payment_method

,Operation,Code_Type,Code_Combination,Code,Client_Code,Display_Name,Description,Parent_Code,Level,Lob,Org_Entity_Detail_Code,Status,Preference_Order,Is_Default,Start_Date,End_Date,MetaData,Unnamed:_17,Unnamed:_18
0,Update,PLS_PaymentMethod,E,3,,E-Cash payment,,,1,,,Active,0,False,,,,,
1,Update,PLS_PaymentMethod,T,1,,T-Bank Transfer,,,1,,,Active,0,False,,,,,
2,Update,PLS_PaymentMethod,C,2,,C-Cheque,,,1,,,Active,0,False,,,,,
3,Update,PLS_PaymentMethod,V,4,,V-Dynamic Virtual Account,,,1,,,Active,0,False,,,,,
4,,,TC,,,"T-Bank Transfer,C-Cheque",,,,,,,,,,,,,
5,,,CT,,,"T-Bank Transfer,C-Cheque",,,,,,,,,,,,,Notes:
6,,,TE,,,"T-Bank Transfer,E-Cash payment",,,,,,,,,,,,,Gunakan payment method pada user template comp...
7,,,ET,,,"T-Bank Transfer,E-Cash payment",,,,,,,,,,,,,
8,,,TV,,,"T-Bank Transfer,V-Dynamic Virtual Account",,,,,,,,,,,,,
9,,,VT,,,"T-Bank Transfer,V-Dynamic Virtual Account",,,,,,,,,,,,,
10,,,CE,,,"C-Cheque,E-Cash payment",,,,,,,,,,,,,
11,,,EC,,,"C-Cheque,E-Cash payment",,,,,,,,,,,,,
12,,,CV,,,"C-Cheque,V-Dynamic Virtual Account",,,,,,,,,,,,,
13,,,VC,,,"C-Cheque,V-Dynamic Virtual Account",,,,,,,,,,,,,
14,,,EV,,,"E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
15,,,VE,,,"E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
16,,,TCE,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
17,,,TEC,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
18,,,CTE,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
19,,,CET,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
20,,,ETC,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
21,,,ECT,,,"C-Cheque,E-Cash payment,T-Bank Transfer",,,,,,,,,,,,,
22,,,TCV,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
23,,,TVC,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
24,,,CTV,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
25,,,CVT,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
26,,,VCT,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
27,,,VTC,,,"T-Bank Transfer,C-Cheque,V-Dynamic Virtual Acc...",,,,,,,,,,,,,
28,,,CEV,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
29,,,CVE,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
30,,,ECV,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
31,,,EVC,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
32,,,VEC,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
33,,,VCE,,,"C-Cheque,E-Cash payment,V-Dynamic Virtual Account",,,,,,,,,,,,,
34,,,TCEV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
35,,,TCVE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
36,,,TECV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
37,,,TEVC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
38,,,TVCE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
39,,,TVEC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
40,,,CTEV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
41,,,CTVE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
42,,,CVTE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
43,,,CVET,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
44,,,CETV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
45,,,CEVT,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
46,,,ECTV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
47,,,ECVT,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
48,,,ETCV,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
49,,,ETVC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
50,,,EVCT,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
51,,,EVTC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
52,,,VCET,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
53,,,VCTE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
54,,,VECT,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
55,,,VETC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
56,,,VTEC,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,
57,,,VTCE,,,"T-Bank Transfer,C-Cheque,E-Cash payment,V-Dyna...",,,,,,,,,,,,,

# 2.1 User Template + MasterData

## Basic Details

In [48]:
# Helper function: VLOOKUP equivalent
def vlookup(df, lookup_value, lookup_col_index, return_col_index, default=""):
    try:
        match = df.iloc[:, lookup_col_index].eq(lookup_value)
        if match.any():
            return df.iloc[match.idxmax(), return_col_index]
        else:
            return default
    except Exception as e:
        return default

# Helper function: Split text by lengths
def split_text(text, lengths):
    if not isinstance(text, str):
        text = str(text)
    text = text.strip()
    parts = []
    start = 0
    for length in lengths:
        part = text[start:start + length].strip()
        parts.append(part)
        start += length
    while len(parts) < len(lengths):
        parts.append('')
    return parts

# Transform function
def transform_user_basic(user_basic, master_data):
    # Create a new instance of the DataFrame
    user_basicdetails = user_basic.copy()

    # Map EngagementModelId-LOB
    user_basicdetails['EngagementModelId-LOB'] = user_basicdetails['LOB'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if x else '', 3, 6)
    )

    # Map AccountGroupDesc
    user_basicdetails['AccountGroupDesc'] = user_basicdetails['AccountGroup'].map(
        lambda x: vlookup(master_data['master_onboarding_type'], x.strip() if x else '', 4, 5)
    )

    # Generate Full Name
    user_basicdetails['Full Name'] = user_basicdetails.apply(
        lambda row: f"{row['Name']}, {row['Prefix']}".strip(', '), axis=1
    )

    # Count Full Name length
    user_basicdetails['Count Full Name'] = user_basicdetails['Full Name'].apply(len)

    # Split Full Name into parts
    user_basicdetails[['Name1', 'Name2', 'Name3', 'Name4']] = pd.DataFrame(
        user_basicdetails['Full Name'].apply(lambda x: split_text(x, [35, 35, 35, 35])).tolist(),
        index=user_basicdetails.index
    )

    # Map Check Prefix
    user_basicdetails['Master Check Prefix'] = user_basicdetails['Prefix'].map(
        lambda x: vlookup(master_data['master_supplier_name_prefix'], x.strip() if x else '', 2, 2)
    )
    # Step 1: Filter master_category to ensure unique mapping based on the lowest ClientCategoryCode
    # Sort by CategoryName and ClientCategoryCode (ascending order) and drop duplicates
    master_category_unique = (
        master_category.sort_values(by=['CategoryName', 'ClientCategoryCode'], ascending=True)
        .drop_duplicates(subset='CategoryName', keep='first')
    )
    
    # Create a mapping from CategoryName to CategoryCode, now considering only the lowest ClientCategoryCode
    category_mapping = master_category_unique.set_index('CategoryName')['CategoryCode'].to_dict()
    
    # Normalize category_mapping keys to lowercase for case-insensitive matching
    category_mapping_normalized = {key.lower(): value for key, value in category_mapping.items()}
    
    # Step 2: Map SubCategoryId1
    user_basicdetails['SubCategoryId1'] = user_basicdetails['Subcategory'].apply(
        lambda x: category_mapping_normalized.get(x.split(',')[0].strip().lower(), '') 
        if isinstance(x, str) and ',' in x 
        else category_mapping_normalized.get(x.strip().lower(), '') 
        if isinstance(x, str) 
        else ''
    )
    
    # Step 3: Map SubCategoryId2
    user_basicdetails['SubCategoryId2'] = user_basicdetails['Subcategory'].apply(
        lambda x: category_mapping_normalized.get(x.split(',')[1].strip().lower(), '') 
        if isinstance(x, str) and ',' in x and len(x.split(',')) > 1 
        else ''
    )
    # Concatenate SubCategoryId1 and SubCategoryId2 into SubCategoryIdResult
    user_basicdetails['SubCategoryIdResult'] = user_basicdetails.apply(
        lambda row: ','.join(filter(None, [row['SubCategoryId1'].strip(), row['SubCategoryId2'].strip()])), 
        axis=1
    )

    
    # Map ServiceLocationId
    user_basicdetails['Master ServiceLocationId'] = user_basicdetails['ServiceLocation'].map(
        lambda x: vlookup(master_data['master_region'], x.strip() if x else '', 2, 3)
    )

    # Map Check Classification
    user_basicdetails['Master Classification'] = user_basicdetails['Classification'].map(
        lambda x: vlookup(master_data['master_classification'], x.strip() if x else '', 4, 4)
    )

    # Map Check Ctrl.Department
    user_basicdetails['Master Ctrl.Department'] = user_basicdetails['ControlDepartment'].map(
        lambda x: vlookup(master_data['master_control_department'], x.strip() if x else '', 4, 4)
    )

    # Map Check Currency
    user_basicdetails['Master Currency'] = user_basicdetails['Currency'].map(
        lambda x: vlookup(master_data['master_currency'], x.strip() if x else '', 2, 2)
    )

    # Generate Full Address
    user_basicdetails['AddressFull'] = user_basicdetails[['Address1', 'Address2']].fillna('').apply(
        lambda x: ' '.join(x).strip(), axis=1
    )

    # Count Full Address length
    user_basicdetails['Count Full Address'] = user_basicdetails['AddressFull'].apply(len)

# Split AddressFull into parts with temporary unique column names
    address_split = pd.DataFrame(
    user_basicdetails['AddressFull'].apply(lambda x: split_text(x, [35, 35, 35, 35, 35])).tolist(),
    index=user_basicdetails.index,
    columns=['Master Address1', 'Master Address2', 'Master Address3', 'Master Address4', 'TempAddress5']
)

    # Add the split address columns to the DataFrame
    user_basicdetails = pd.concat([user_basicdetails, address_split], axis=1)


    # Drop the original Address1 and Address2 columns if they are no longer needed
    # user_basicdetails.drop(columns=['TempAddress1', 'TempAddress2'], inplace=True, errors='ignore')


    # Map StateId
    user_basicdetails['Master StateId'] = user_basicdetails['State'].map(
        lambda x: vlookup(master_data['master_state'], x.strip() if x else '', 3, 3)
    )

    # Map TradingPartnerGEP
    user_basicdetails['Master TradingPartnerGEP'] = user_basicdetails['TradingPartner'].map(
        lambda x: vlookup(master_data['master_trading_partner'], x.strip() if x else '', 2, 3)
    )

    # Map InstructionKeyGEP
    user_basicdetails['Master InstructionKeyGEP'] = user_basicdetails['InstructionKey'].map(
        lambda x: vlookup(master_data['master_instruction_key'], x.strip() if x else '', 2, 5)
    )

    # Copy LocationCode and LocationName from VendorCode
    user_basicdetails['LocationCode'] = user_basicdetails['VendorCode']
    user_basicdetails['LocationName'] = user_basicdetails['VendorCode']
    
    # Assuming column indices: U (20th), V (21st), W (22nd), X (23rd)
    # Adjust indices based on zero-based indexing for pandas DataFrame
    column_indices = {
        'NewVatReg': 20,  # U
        'NewNIK': 21,     # V
        'NewNITKU': 22,   # W
        'NewVatLama': 23  # X
    }
    
    # Reorder columns to move the specified columns to the end
    # user_basicdetails = user_basicdetails[[col for col in user_basicdetails.columns if col not in columns_to_move] + columns_to_move]
    user_basicdetails.rename(
        columns={
            'NewVatReg': 'VatReg',
            'NewNIK': 'NIK',
            'NewNITKU': 'NITKU',
            'NewVatLama': 'VatLama'
        },
        inplace=True
    )
        # Validation logic
    columns_to_compare = ['Prefix', 'Classification', 'ControlDepartment', 'Currency']
    master_columns = ['Master Check Prefix',  'Master Classification',
                      'Master Ctrl.Department', 'Master Currency']


    
    # Map StateId
    user_basicdetails['Master StateId'] = user_basicdetails['State'].map(
        lambda x: vlookup(master_data['master_state'], x.strip() if x else '', 4, 3)
    )

    # Map TradingPartnerGEP
    user_basicdetails['Master TradingPartnerGEP'] = user_basicdetails['TradingPartner'].map(
        lambda x: vlookup(master_data['master_trading_partner'], x.strip() if x else '', 2, 3)
    )

    # Map InstructionKeyGEP
    user_basicdetails['Master InstructionKeyGEP'] = user_basicdetails['InstructionKey'].map(
        lambda x: vlookup(master_data['master_instruction_key'], x.strip() if x else '', 2, 5)
    )
    # Convert columns to string for comparison
    for col in columns_to_compare + master_columns:
        user_basicdetails[col] = user_basicdetails[col].fillna('').astype(str).str.strip()

    # Find mismatches
    mismatches = []
    for col, master_col in zip(columns_to_compare, master_columns):
        mismatch_rows = user_basicdetails[
            (user_basicdetails['VendorCode'] != '') &  # Skip rows with blank VendorCode
            (user_basicdetails[col].str.casefold() != user_basicdetails[master_col].str.casefold())
        ]
        for _, row in mismatch_rows.iterrows():
            mismatches.append({
                'VendorCode': row['VendorCode'],
                'Column': col,
                'OriginalValue': row[col],
                'MasterValue': row[master_col]
            })

    mismatch_df = pd.DataFrame(mismatches)

    return user_basicdetails, mismatch_df

# Apply the function
transformed_basic, mismatches = transform_user_basic(user_basic, {
    'master_org_entity': master_org_entity,
    'master_onboarding_type': master_onboarding_type,
    'master_supplier_name_prefix': master_supplier_name_prefix,
    'master_category': master_category,
    'master_region': master_region,
    'master_classification': master_classification,
    'master_control_department': master_control_department,
    'master_currency': master_currency,
    'master_state': master_state,
    'master_trading_partner': master_trading_partner,
    'master_instruction_key': master_instruction_key,
}) 
# Output results
if not mismatches.empty:
    print("\n=== Mismatches Found ===")
    print(mismatches)
else:
    print("\nNo mismatches found.")
transformed_basic['VendorCode'] = transformed_basic['VendorCode'].str.strip()
transformed_basic.replace("", pd.NA, inplace=True)
transformed_basic.dropna(subset=["VendorCode"], how='all', inplace=True)

No mismatches found.

In [49]:
master_classification

,Operation,Code_Type,Code,Client_Code,Display_Name,Description,Parent_Code,Level,Lob,Org_Entity_Detail_Code,Status,Preference_Order,Is_Default,Start_Date,End_Date,MetaData
0,Update,PLS_Classification,Local-Enterprise-Regular,,Local-Enterprise-Regular,,,1,,,Active,1,False,,,
1,Update,PLS_Classification,Local-Enterprise-SKB,,Local-Enterprise-SKB,,,1,,,Active,2,False,,,
2,Update,PLS_Classification,Local-Individual-NPWP,,Local-Individual-NPWP,,,1,,,Active,3,False,,,
3,Update,PLS_Classification,Local-Individual-NPWP - Suket,,Local-Individual-NPWP - Suket,,,1,,,Active,4,False,,,
4,Update,PLS_Classification,Local-Individual-Non NPWP,,Local-Individual-Non NPWP,,,1,,,Active,5,False,,,
5,Update,PLS_Classification,International-Treaty,,International-Treaty,,,1,,,Active,6,False,,,
6,Update,PLS_Classification,International-Non-Treaty,,International-Non-Treaty,,,1,,,Active,7,False,,,
7,,,,,,,,,,,,,,,,
8,,Notes,,,1. Local-Enterprise Regular: lokal dan bukan p...,,,,,,,,,,,

In [50]:
master_category_unique = (
    master_category.sort_values(by=['CategoryName', 'ClientCategoryCode'], ascending=True)
    .drop_duplicates(subset='CategoryName', keep='first')
    )
    
category_mapping = master_category_unique.set_index('CategoryName')['CategoryCode'].to_dict()

In [51]:
master_category.to_clipboard(index = False)

In [52]:
transformed_basic

,VendorCode_Old,VendorCode,AccountGroup,Name,Prefix,Subcategory,ServiceLocation,Classification,ControlDepartment,SearchTerm,Remark,MaterialServiceSupplied,Address1,Address2,CountryID,State,City,PostalCode,Currency,POBox,VatReg,NIK,NITKU,VatLama,LOB,TradingPartner,InstructionKey,SupplierManagerEmail,EntryUser,EntryDate,UpdateUser,UpdateDate,EngagementModelId-LOB,AccountGroupDesc,Full Name,Count Full Name,Name1,Name2,Name3,Name4,Master Check Prefix,SubCategoryId1,SubCategoryId2,SubCategoryIdResult,Master ServiceLocationId,Master Classification,Master Ctrl.Department,Master Currency,AddressFull,Count Full Address,Master Address1,Master Address2,Master Address3,Master Address4,TempAddress5,Master StateId,Master TradingPartnerGEP,Master InstructionKeyGEP,LocationCode,LocationName
0,V000000132,1280002097,ZTPV,ASTRA DAIHATSU,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL URIP SUMOHARJO NO64 SINRIJALA KEC PANAKKUKA...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90144,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"ASTRA DAIHATSU, -",17,"ASTRA DAIHATSU, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL URIP SUMOHARJO NO64 SINRIJALA KEC PANAKKUKA...,79,JL URIP SUMOHARJO NO64 SINRIJALA KE,C PANAKKUKANG KOTA MAKASSAR SULAWES,I SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002097,1280002097
1,V000000133,1280002098,ZTPV,HADJI KALLA MAROS,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL POROS MAKASSAR - MAROS NO6 TAROADA KEC TURI...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90241,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HADJI KALLA MAROS, -",20,"HADJI KALLA MAROS, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL POROS MAKASSAR - MAROS NO6 TAROADA KEC TURI...,83,JL POROS MAKASSAR - MAROS NO6 TAROA,DA KEC TURIKALE KABUPATEN MAROS SUL,AWESI SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002098,1280002098
2,V000000134,1280002099,ZTPV,ISUZU MOBILINDO PLAZA,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL URIP SUMOHARDJO KM6 MAKASSAR,<NA>,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"ISUZU MOBILINDO PLAZA, -",24,"ISUZU MOBILINDO PLAZA, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL URIP SUMOHARDJO KM6 MAKASSAR,31,JL URIP SUMOHARDJO KM6 MAKASSAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002099,1280002099
3,V000000135,1280002100,ZTPV,HOTEL DALTON MAKASSAR,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL PERINTIS KEMERDEKAAN NO2 KM 16 MAKASSAR,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90234,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HOTEL DALTON MAKASSAR, -",24,"HOTEL DALTON MAKASSAR, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL PERINTIS KEMERDEKAAN NO2 KM 16 MAKASSAR,42,JL PERINTIS KEMERDEKAAN NO2 KM 16 M,AKASSAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002100,1280002100
4,V000000136,1280002101,ZTPV,HOTEL SWIS BELL,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL UJUNG PANDANG NO8 BONTOALA KEC MAKASSAR KOT...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90111,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HOTEL SWIS BELL, -",18,"HOTEL SWIS BELL, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL UJUNG PANDANG NO8 BONTOALA KEC MAKASSAR KOT...,73,JL UJUNG PANDANG NO8 BONTOALA KEC M,AKASSAR KOTA MAKASSAR SULAWESI SELA,TAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002101,1280002101
5,V000000137,1280002102,ZTPV,HOTEL PREMIER MAKASSAR,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL PERINTIS KEMERDEKAAN NOKM16 NO88 PAI KEC BI...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90241,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HOTEL PREMIER MAKASSAR, -",25,"HOTEL PREMIER MAKASSAR, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL PERINTIS KEMERDEKAAN NOKM16 NO88 PAI KEC BI...,87,JL PERINTIS KEMERDEKAAN NOKM16 NO88,PAI KEC BIRINGKANAYA KOTA MAKASSAR,SULAWESI SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002102,1280002102
6,V000000138,1280002103,ZTPV,HOTEL CLARO,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL A P PETTARANI NO03 MANNURUKI KEC TAMALATE K...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90221,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HOTEL CLARO, -",14,"HOTEL CLARO, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL A P PETTARANI NO03 MANNURUKI KEC TAMALATE K...,75,JL A P PETTARANI NO03 MANNURUKI KEC,TAMALATE KOTA MAKASSAR SULAWESI SE,LATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002103,1280002103
7,V000000139,1280002104,ZTPV,HOTEL HARPER,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JLPERINTIS KEMERDEKAAN KM 15 NO14 A PAI KEC BI...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90243,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"HOTEL HARPER, -",15,"HOTEL HARPER, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JLPERINTIS KEMERDEKAAN KM 15 NO14 A PAI KEC BI...,87,JLPERINTIS KEMERDEKAAN KM 15 NO14 A,PAI KEC BIRINGKANAYA KOTA MAKASSAR,SULAWESI SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002104,1280002104
8,V000000140,1280002105,ZTPV,MITRA TEKNIK,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,MAKASSAR,<NA>,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"MITRA TEKNIK, -",15,"MITRA TEKNIK, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAKASSAR,8,MAKASSAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002105,1280002105
9,V000000141,1280002106,ZTPV,A2L TRAVEL,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,MAKASSAR,<NA>,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"A2L TRAVEL, -",13,"A2L TRAVEL, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAKASSAR,8,MAKASSAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002106,1280002106
10,V000000142,1280002107,ZTPV,CAHAYA SAGA,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL MONGINSIDI NO90 AB MARICAYA BARU KEC MAKASS...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90141,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"CAHAYA SAGA, -",14,"CAHAYA SAGA, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL MONGINSIDI NO90 AB MARICAYA BARU KEC MAKASS...,79,JL MONGINSIDI NO90 AB MARICAYA BARU,KEC MAKASSAR KOTA MAKASSAR SULAWES,I SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002107,1280002107
11,V000000143,1280002108,ZTPV,PATTENE 88 BUSINESS PARK,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,PATENE MAROS,<NA>,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"PATTENE 88 BUSINESS PARK, -",27,"PATTENE 88 BUSINESS PARK, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,PATENE MAROS,12,PATENE MAROS,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002108,1280002108
12,V000000144,1280002109,ZTPV,GRAHA INFORMATIKA NUSANTARA,PT,<NA>,Indonesia,Local-Enterprise-Regular,Finance & Accounting,SULAWESI,<NA>,<NA>,JL KAKATUA MATTOANGING NO16 GADDONG KEC MAKASS...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90154,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"GRAHA INFORMATIKA NUSANTARA, PT",31,"GRAHA INFORMATIKA NUSANTARA, PT",<NA>,<NA>,<NA>,PT,<NA>,<NA>,<NA>,123,Local-Enterprise-Regular,Finance & Accounting,IDR,JL KAKATUA MATTOANGING NO16 GADDONG KEC MAKASS...,79,JL KAKATUA MATTOANGING NO16 GADDONG,KEC MAKASSAR KOTA MAKASSAR SULAWES,I SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,1280002109,1280002109
13,V000000145,1280002110,ZTPV,ASRY TEKNIK,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,MAROS,<NA>,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"ASRY TEKNIK, -",14,"ASRY TEKNIK, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAROS,5,MAROS,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002110,1280002110
14,V000000146,1280002111,ZTPV,BOSOWA BERLIAN MOTOR KIMA,-,<NA>,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,<NA>,<NA>,JL KAPASA RAYA NO17 BIRA KEC TAMALANREA KOTA M...,<NA>,ID,SULAWESI SELATAN,MAKASSAR,90243,IDR,<NA>,000000000000000,0000000000000000,<NA>,<NA>,PE2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,ZTPV - Third Party Vendor,"BOSOWA BERLIAN MOTOR KIMA, -",28,"BOSOWA BERLIAN MOTOR KIMA, -",<NA>,<NA>,<NA>,-,<NA>,<NA>,<NA>,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL KAPASA RAYA NO17 BIRA KEC TAMALANREA KOTA M...,70,JL KAPASA RAYA NO17 BIRA KEC TAMALA,NREA KOTA MAKASSAR SULAWESI SELATAN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1280002111,1280002111

## Basic Details + Company

In [53]:
# Helper Function: VLOOKUP Equivalent
def vlookup(df, lookup_value, lookup_col_index, return_col_index, default=""):
    try:
        match = df.iloc[:, lookup_col_index].eq(lookup_value)
        if match.any():
            return df.iloc[match.idxmax(), return_col_index]
        else:
            return default
    except Exception as e:
        return default

def vlookup_contains(df, lookup_value, lookup_col_index, return_col_index, default=""):
    try:
        # Perform a substring match instead of exact match
        matches = df.iloc[:, lookup_col_index].apply(lambda x: lookup_value in str(x))
        if matches.any():
            return df.iloc[matches.idxmax(), return_col_index]  # Return the first match
        else:
            return default
    except Exception as e:
        return default


# Transform Function
def transform_user_company(user_company, user_basic, master_data):
    """
    Transforms the `user_company` DataFrame based on Excel logic.
    
    Parameters:
        user_company (pd.DataFrame): Original company data.
        user_basic (pd.DataFrame): Basic user data for lookup.
        master_data (dict): Dictionary of all master data tables.
    
    Returns:
        pd.DataFrame: Transformed data.
        pd.DataFrame: Mismatch details.
    """
    # Create a copy of the input DataFrame
    transformed = user_company.copy()

    # Apply transformations and add new columns
    transformed['Master LocationCode'] = transformed['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) else '', 1, 1)
    )

    transformed['Master Engagement ModelId-Cocode'] = transformed['CompanyCode'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 6)
    )

    transformed['Master Entity Type'] = transformed['CompanyCode'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 1)
    )

    transformed['Master LOB Code'] = transformed['CompanyCode'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 0)
    )
    
    transformed['Master AccountGroup'] = transformed['AccountGroup'].map(
        lambda x: vlookup(master_data['master_onboarding_type'], x.strip() if pd.notnull(x) else '', 4, 5)
    )

    transformed['Master ReconAccount'] = transformed['ReconAccount'].map(
        lambda x: vlookup(master_data['master_recon_account'], x.strip() if pd.notnull(x) else '', 2, 4)
    )

    transformed['Master SortKey'] = transformed['SortKey'].map(
        lambda x: vlookup(master_data['master_sort_key'], x.strip() if pd.notnull(x) else '', 2, 2)
    )

    transformed['Master CashMngmtGroup'] = transformed['CashMngmtGroup'].map(
        lambda x: vlookup(master_data['master_planning_cash_management'], x.strip() if pd.notnull(x) else '', 2, 4)
    )

    transformed['Master PaymentMethod'] = transformed['PaymentMethod'].map(
        lambda x: vlookup(master_data['master_payment_method'], x.strip() if pd.notnull(x) else '', 2, 5)
    )

    # Concatenate WHTType + WHTCode
    transformed['Master WHTType+Code'] = transformed['WHTType'].fillna('') + transformed['WHTCode'].fillna('')


    master_wht['SubTax'] = master_wht.apply(
        lambda row: f"{row['Sub_Tax_Type']}{row['Tax_Code']}".strip(), axis=1
    )
    sub_tax_index = master_wht.columns.get_loc('SubTax')

    # Tax Details from `master_wht`
    for col, master_col in [
        ('Master taxTypeCode', 7),
        ('Master taxTypeName', 7),
        ('Master taxCodeName', 2),
        ('Master taxCodeCode', 2),
        ('Master subTypeName', 8),
        ('Master subTypeCode', 8),
        ('Master taxDescription', 14),
        ('Master taxPercentage', 9),
    ]:
        transformed[col] = transformed['Master WHTType+Code'].map(
            lambda x: vlookup(master_data['master_wht'], x.strip() if pd.notnull(x) else '', sub_tax_index, master_col)
        )
    transformed['Master PaymentTerms'] = transformed['PaymentTerms'].map(
        lambda x: vlookup_contains(master_data['master_payment_terms'], x.strip() if pd.notnull(x) else '', 3, 3)
    )

    columns_to_add = [
        'paymentTermRowNumber', 'withholdingTaxId', 'incoTermId',
        'lobDetailsRowNumber', 'companyDataExtensionRowNumber',
        'purchasingDataExtensionRowNumber', 'reconciliationAccountRowNumber'
    ]
    for column in columns_to_add:
        transformed[f"Added{column}"] = ""

    # Define a mapping for the columns to populate based on the 'Entity Type'
    column_mapping = {
        'Company Code': ['withholdingTaxId', 'companyDataExtensionRowNumber', 'reconciliationAccountRowNumber'],
        'Purchasing Org': ['paymentTermRowNumber', 'incoTermId', 'purchasingDataExtensionRowNumber']
    }

    # Populate the Added columns based on Entity Type
    for entity_type, columns in column_mapping.items():
        entity_filter = transformed['Master Entity Type'] == entity_type
        for column in columns:
            transformed.loc[entity_filter, f"Added{column}"] = transformed.loc[entity_filter, 'Master Engagement ModelId-Cocode']

    # Validation Logic
    columns_to_compare = [
        'AccountGroup', 'ReconAccount',
        'SortKey', 'CashMngmtGroup', 'PaymentMethod', 'PaymentTerms'
    ]
    master_columns = [
        'Master AccountGroup', 'Master ReconAccount',
        'Master SortKey', 'Master CashMngmtGroup', 'Master PaymentMethod', 'Master PaymentTerms'
    ]

    for col in columns_to_compare + master_columns:
        transformed[col] = transformed[col].fillna('').astype(str).str.strip()

    # Find mismatches
    mismatch_records = []
    for col, master_col in zip(columns_to_compare, master_columns):
        if master_col in transformed.columns:
            mismatches = transformed[
                (transformed['VendorCode'] != '') &  # Skip rows with blank VendorCode
                (~transformed.apply(
                    lambda row: row[col].casefold() in row[master_col].casefold(), axis=1  # Substring match
                ))
            ]
            for _, row in mismatches.iterrows():
                mismatch_records.append({
                    'VendorCode': row['VendorCode'],
                    'Column': col,
                    'OriginalValue': row[col],
                    'MasterValue': row[master_col]
                })
    # Create a DataFrame for mismatches
    mismatch_df = pd.DataFrame(mismatch_records)

    return transformed, mismatch_df

# Apply the transformation
transformed_user_company, mismatches = transform_user_company(
    user_company=user_company,
    user_basic=user_basic,
    master_data={
        'master_org_entity': master_org_entity,
        'master_onboarding_type': master_onboarding_type,
        'master_recon_account': master_recon_account,
        'master_sort_key': master_sort_key,
        'master_planning_cash_management': master_planning_cash_management,
        'master_payment_method': master_payment_method,
        'master_wht': master_wht,
        'master_payment_terms': master_payment_terms,
    }
)

# Output mismatches for validation
if not mismatches.empty:
    print("\n=== Mismatches Found ===")
    print(mismatches)
else:
    print("\nNo mismatches found.")


transformed_user_company['VendorCode'] = transformed_user_company['VendorCode'].str.strip()
transformed_user_company.replace("", pd.NA, inplace=True)
transformed_user_company.dropna(subset=["VendorCode"], how='all', inplace=True)

No mismatches found.

## Basic Details + Purchasing

In [54]:
user_purch = user_purch[~user_purch.apply(lambda row: row.astype(str).str.contains("Apabila")).any(axis=1)]
# Transform Function
def transform_user_purch(user_purch, user_basic, master_data):
    """
    Transforms the `user_purch` DataFrame based on Excel logic.
    
    Parameters:
        user_purch (pd.DataFrame): Original purchasing data.
        user_basic (pd.DataFrame): Basic user data for lookup.
        master_data (dict): Dictionary of all master data tables.
    
    Returns:
        pd.DataFrame: Transformed data.
        pd.DataFrame: Mismatch details.
    """
    # Create a copy of the input DataFrame
    transformed = user_purch.copy()

    # Apply transformations and add new columns
    transformed['Master LocationCode'] = transformed['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) else '', 1, 1)
    )

    transformed['Master Engagement ModelId-Cocode'] = transformed['PurchOrg'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 6)
    )

    transformed['Master AccountGroup'] = transformed['AccountGroup'].map(
        lambda x: vlookup(master_data['master_onboarding_type'], x.strip() if pd.notnull(x) else '', 4, 5)
    )

    transformed['Master PaymentTerms'] = transformed['PaymentTerms'].map(
        lambda x: vlookup(master_data['master_payment_terms'], x.strip() if pd.notnull(x) else '', 3, 3)
    )

    transformed['Master Incoterms'] = transformed['Incoterms'].map(
        lambda x: vlookup_contains(master_data['master_incoterms'], x.strip() if pd.notnull(x) else '', 2, 4)
    )

    transformed['Master Schma Grp Vendor'] = transformed['Schma_Grp_Vendor'].map(
        lambda x: vlookup(master_data['master_schema_grp_vendor'], x.strip() if pd.notnull(x) else '', 4, 4)
    )
    transformed['Master Entity Type'] = transformed['PurchOrg'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 1)
    )

    transformed['Master LOB Code'] = transformed['PurchOrg'].map(
        lambda x: vlookup(master_data['master_org_entity'], x.strip() if pd.notnull(x) else '', 3, 0)
    )
    
   # Define a mapping for the columns to populate based on the 'Entity Type'
    column_mapping = {
        'Company Code': ['withholdingTaxId', 'companyDataExtensionRowNumber', 'reconciliationAccountRowNumber'],
        'Purchasing Org': ['paymentTermRowNumber', 'incoTermId', 'purchasingDataExtensionRowNumber']
    }

    # Populate the Added columns based on Entity Type
    for entity_type, columns in column_mapping.items():
        entity_filter = transformed['Master Entity Type'] == entity_type
        for column in columns:
            transformed.loc[entity_filter, f"Added{column}"] = transformed.loc[entity_filter, 'Master Engagement ModelId-Cocode']


    # Validation Logic
    columns_to_compare = [
        'AccountGroup', 'PaymentTerms', 'Incoterms', 'Schma_Grp_Vendor'
    ]
    master_columns = [
        'Master AccountGroup', 'Master PaymentTerms', 'Master Incoterms', 'Master Schma Grp Vendor'
    ]

    for col in columns_to_compare + master_columns:
        transformed[col] = transformed[col].fillna('').astype(str).str.strip()

    # Find mismatches
    mismatch_records = []
    for col, master_col in zip(columns_to_compare, master_columns):
        if master_col in transformed.columns:
            mismatches = transformed[
                (transformed['VendorCode'] != '') &  # Skip rows with blank VendorCode
                (~transformed.apply(
                    lambda row: row[col].casefold() in row[master_col].casefold(), axis=1  # Substring match
                ))
            ]
            for _, row in mismatches.iterrows():
                mismatch_records.append({
                    'VendorCode': row['VendorCode'],
                    'Column': col,
                    'OriginalValue': row[col],
                    'MasterValue': row[master_col]
                })

    # Create a DataFrame for mismatches
    mismatch_df = pd.DataFrame(mismatch_records)

    return transformed, mismatch_df


# Apply the transformation
transformed_user_purch, mismatches = transform_user_purch(
    user_purch=user_purch,
    user_basic=user_basic,
    master_data={
        'master_org_entity': master_org_entity,
        'master_onboarding_type': master_onboarding_type,
        'master_payment_terms': master_payment_terms,
        'master_incoterms': master_incoterms,
        'master_schema_grp_vendor': master_schema_grp_vendor,
    }
)

# Output mismatches for validation
if not mismatches.empty:
    print("\n=== Mismatches Found ===")
    print(mismatches)
else:
    print("\nNo mismatches found.")


transformed_user_purch['VendorCode'] = transformed_user_purch['VendorCode'].str.strip()
transformed_user_purch.replace("", pd.NA, inplace=True)
transformed_user_purch.dropna(subset=["VendorCode"], how='all', inplace=True)

No mismatches found.

In [55]:
master_payment_terms['Payment_Term_Code'].unique()

array(['T075-PE1', 'T075-PE2', 'T090-PE1', 'T090-PE2', 'T091-PE2',
       'T092-PE2', 'T093-PE2', 'T120-PE1', 'T120-PE2', 'T150-PE1',
       'T180-PE1', 'T210-PE1', 'T365-PE1', 'TCBD-PE1', 'TCBD-PE2',
       'TCOD-PE1', 'TCOD-PE2', 'TO00-PE1', 'TO14-PE1', 'TO30-PE1',
       'TO90-PE1', 'TP01-PE1', 'TP02-PE1', 'TTID-PE2', 'TTRM-PE2',
       'T180-PE2', 'T001-PE1', 'T002-PE1', 'T003-PE1', 'T003-PE2',
       'T004-PE1', 'T005-PE1', 'T005-PE2', 'T006-PE1', 'T007-PE1',
       'T007-PE2', 'T008-PE1', 'T009-PE1', 'T010-PE1', 'T010-PE2',
       'T011-PE1', 'T012-PE1', 'T012-PE2', 'T014-PE1', 'T014-PE2',
       'T015-PE1', 'T015-PE2', 'T016-PE1', 'T017-PE1', 'T018-PE1',
       'T019-PE1', 'T020-PE1', 'T020-PE2', 'T021-PE1', 'T021-PE2',
       'T022-PE1', 'T023-PE1', 'T024-PE1', 'T025-PE1', 'T025-PE2',
       'T026-PE1', 'T027-PE1', 'T028-PE1', 'T030-PE1', 'T030-PE2',
       'T032-PE1', 'T033-PE1', 'T034-PE1', 'T035-PE1', 'T038-PE1',
       'T040-PE1', 'T042-PE1', 'T045-PE1', 'T045-PE2', 'T046-PE2',
       'T048-PE1', 'T049-PE1', 'T050-PE1', 'T056-PE1', 'T057-PE1',
       'T060-PE1', 'T060-PE2', 'T065-PE1'], dtype=object)

In [56]:
mismatches.to_clipboard(index = False)

## Basic Details + Banking

In [57]:
# Drop rows where any cell in the DataFrame contains the pattern "Kolom "
user_bank = user_bank[~user_bank.apply(lambda row: row.astype(str).str.contains(r'Kolom ', regex=True).any(), axis=1)]
user_bank = user_bank[~user_bank.apply(lambda row: row.astype(str).str.contains(r'E-G wajib', regex=True).any(), axis=1)]

# Transform Function
def transform_user_bank(user_bank, user_basic, master_data):
    """
    Transforms the `user_bank` DataFrame based on Excel logic.
    
    Parameters:
        user_bank (pd.DataFrame): Original bank data.
        user_basic (pd.DataFrame): Basic user data for lookup.
        master_data (dict): Dictionary of all master data tables.
    
    Returns:
        pd.DataFrame: Transformed data.
        pd.DataFrame: Mismatch details.
    """
    # Create a copy of the input DataFrame
    transformed = user_bank.copy()

    # Add new columns based on Excel formulas and VLOOKUP logic
    transformed['Master LocationID'] = transformed['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) else '', 1, 1)
    )

    # Generate a sequence of numbers 1 to 9, repeated until the end of the DataFrame
    transformed['RowUnique'] = ((transformed.index % 9) + 1)


    transformed['Master clientBankReferenceId'] = transformed.apply(
        lambda row: f"{row['VendorCode']}{row['RowUnique']}" if pd.notnull(row['VendorCode']) else '', axis=1
    )

    transformed['Master Payment Method ID'] = transformed['PaymentMethod'].map(
        lambda x: vlookup(master_data['master_payment_method'], x.strip() if pd.notnull(x) else '', 2, 3)
    )

    transformed['Master SwiftCode'] = transformed['SwiftCode'].map(
        lambda x: vlookup(master_data['master_swiftcode-pe1'], x.strip() if pd.notnull(x) else '', 1, 1)
    )

    transformed['Master Partner Bank Type'] = transformed['PartnerBankType'].map(
        lambda x: vlookup(master_data['master_partner_bank_type'], x.strip() if pd.notnull(x) else '', 4, 4)
    )

    transformed['Master Vendor Code'] = transformed['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) else '', 1, 1)
    )

    transformed['Master BankCountry'] = transformed['CountryBank'].fillna('')

    transformed['Master BankKey'] = transformed['BankKey']

    transformed['Master BankNumber'] = transformed['BankNumber']

    transformed['Master Count Bank Acc Num'] = transformed['BankNumber'].apply(lambda x: len(str(x).strip()) if pd.notnull(x) else 0)

    transformed['Master BankRef'] = transformed['BankRef'].fillna('')

    transformed['Master IBAN'] = transformed['IBAN'].fillna('')

    # Validate Kombinasi1 (T)
    transformed['Validate Kombinasi1 (T)'] = transformed.apply(
        lambda row: len({row['Master Vendor Code'], row['Master BankCountry'], row['Master BankKey'], row['Master BankNumber']}) <= 4, axis=1
    )

    # Validate Kombinasi2 (T2)
    transformed['Validate Kombinasi2 (T2)'] = transformed.apply(
        lambda row: len({row['Master Vendor Code'], row['Master Partner Bank Type']}) <= 2, axis=1
    )

    # Validation Logic
    columns_to_compare = ['SwiftCode', 'PartnerBankType', 'BankKey', 'BankNumber', 'BankRef', 'IBAN']
    master_columns = [
        'Master SwiftCode', 'Master Partner Bank Type',
        'Master BankKey', 'Master BankNumber', 'Master BankRef', 'Master IBAN'
    ]

    # Ensure consistency in value formatting
    for col in columns_to_compare + master_columns:
        transformed[col] = transformed[col].fillna('').astype(str).str.strip()

    # Find mismatches
    mismatch_records = []
    for col, master_col in zip(columns_to_compare, master_columns):
        mismatches = transformed[
            (transformed['VendorCode'] != '') &  # Skip rows with blank VendorCode
            (transformed[col].str.casefold() != transformed[master_col].str.casefold())  # Case-insensitive comparison
        ]

        for _, row in mismatches.iterrows():
            mismatch_records.append({
                'VendorCode': row['VendorCode'],
                'Column': col,
                'OriginalValue': row[col],
                'MasterValue': row[master_col]
            })

    # Create a DataFrame for mismatches
    mismatch_df = pd.DataFrame(mismatch_records)

    return transformed, mismatch_df


# Apply the transformation
transformed_user_bank, mismatches = transform_user_bank(
    user_bank=user_bank,
    user_basic=user_basic,
    master_data={
        'master_payment_method': master_payment_method,
        'master_swiftcode-pe1': master_swiftcode_pe1,
        'master_partner_bank_type': master_partner_bank_type,
    }
)

# Output mismatches for validation
if not mismatches.empty:
    print("\n=== Mismatches Found ===")
    print(mismatches)
else:
    print("\nNo mismatches found.")

transformed_user_bank['VendorCode'] = transformed_user_bank['VendorCode'].str.strip()
transformed_user_bank.replace("", pd.NA, inplace=True)
transformed_user_bank.dropna(subset=["VendorCode"], how='all', inplace=True)

No mismatches found.

In [58]:
transformed_user_bank['Master clientBankReferenceId']

0     12800020971
1     12800020982
2     12800020993
3     12800021004
4     12800021015
5     12800021026
6     12800021037
7     12800021048
8     12800021059
9     12800021061
10    12800021072
11    12800021083
12    12800021094
13    12800021105
14    12800021116
Name: Master clientBankReferenceId, dtype: object

## TeamMember - GEP

In [59]:
def transform_user_teammember_gep(user_teammember_gep, user_basic, master_data):
    """
    Transform the TeamMember-GEP sheet with enhanced logic to handle blank VendorCode rows.
    
    Parameters:
        user_teammember_gep (pd.DataFrame): Input data for TeamMember-GEP.
        user_basic (pd.DataFrame): User basic data for lookup.
        master_data (dict): Dictionary of master datasets.
        
    Returns:
        pd.DataFrame: Transformed data with mismatches reported for validation.
    """
    # Create a copy of the input data
    transformed_team_member = user_teammember_gep.copy()
    
    # Transformations for columns using master data
    transformed_team_member['MasterVendorCode'] = transformed_team_member['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) and x.strip() else '', 1, 1)
    )
    
    transformed_team_member['MasterEmailAddress'] = transformed_team_member['emailAddress'].map(
        lambda x: vlookup(master_buyer_user, x.strip() if pd.notnull(x) and x.strip() else '', 6, 6)
    )
    
    transformed_team_member['MasterStakeholderName'] = transformed_team_member['emailAddress'].map(
        lambda x: vlookup(master_buyer_user, x.strip() if pd.notnull(x) and x.strip() else '', 6, 3)
    )
    
    transformed_team_member['MasterRoleId'] = transformed_team_member['roleName'].map(
        lambda x: vlookup(master_team_member, x.strip() if pd.notnull(x) and x.strip() else '', 4, 11)
    )
    
    transformed_team_member['MasterRoleName'] = transformed_team_member['roleName'].map(
        lambda x: vlookup(master_team_member, x.strip() if pd.notnull(x) and x.strip() else '', 4, 5)
    )
    
    # Ensure all comparison columns are converted to string for consistency
    columns_to_compare = ['VendorCode', 'emailAddress', 'stakeholderName', 'roleName']
    master_columns = ['MasterVendorCode', 'MasterEmailAddress', 'MasterStakeholderName', 'MasterRoleName']
    
    for col in columns_to_compare + master_columns:
        transformed_team_member[col] = transformed_team_member[col].fillna('').astype(str).str.strip()
    
    # Find mismatches
    mismatch_records = []
    for col, master_col in zip(columns_to_compare, master_columns):
        if master_col in transformed_team_member.columns:
            mismatches = transformed_team_member[
                (transformed_team_member['VendorCode'] != '') &  # Skip blank VendorCode rows
                (transformed_team_member[col] != transformed_team_member[master_col])
            ]
            for _, row in mismatches.iterrows():
                mismatch_records.append({
                    'VendorCode': row['VendorCode'],
                    'Column': col,
                    'OriginalValue': row[col],
                    'MasterValue': row[master_col]
                })
    
    # Create a DataFrame for mismatches
    mismatch_df = pd.DataFrame(mismatch_records)
    
    return transformed_team_member, mismatch_df

# Apply the transformation
transformed_team_member, mismatches = transform_user_teammember_gep(
    user_teammember_gep=user_teammember_gep, 
    user_basic=user_basic, 
    master_data={
        'master_buyer_user': master_buyer_user,
        'master_team_member': master_team_member
    }
)

# Output the mismatches if any
if not mismatches.empty:
    print("\n=== Mismatches Found ===")
    print(mismatches)
else:
    print("\nNo mismatches found.")

transformed_team_member['VendorCode'] = transformed_team_member['VendorCode'].str.strip()
transformed_team_member.replace("", pd.NA, inplace=True)
transformed_team_member.dropna(subset=["VendorCode"], how='all', inplace=True)

=== Mismatches Found ===
   VendorCode      Column OriginalValue MasterValue
0  1280001001  VendorCode    1280001001

In [60]:
mismatches

   VendorCode      Column OriginalValue MasterValue
0  1280001001  VendorCode    1280001001

## Basic Details + Contact

In [61]:
# Define helper functions
def vlookup(df, lookup_value, lookup_col_index, return_col_index, default=""):
    try:
        match = df.iloc[:, lookup_col_index].eq(lookup_value)
        if match.any():
            return df.iloc[match.idxmax(), return_col_index]
        else:
            return default
    except Exception as e:
        return default

def mod_row(row_index, mod_base=9):
    return (row_index - 2) % mod_base + 1

# Process user_contact
def transform_user_contact(user_contact, user_basic):
    user_contact_transformed = user_contact.copy()

    # Vendor Code (VLOOKUP from user_basic sheet)
    user_contact_transformed['Vendor Code'] = user_contact_transformed['VendorCode'].map(
        lambda x: vlookup(user_basic, x.strip() if pd.notnull(x) else '', 1, 1)
    )

    # First Name
    user_contact_transformed['First Name'] = user_contact_transformed['FirstName'].apply(
        lambda x: "-" if pd.isna(x) or not str(x).strip() else str(x).strip().upper()
    )

    user_contact_transformed['Last Name'] = user_contact_transformed['LastName'].apply(
        lambda x: "-" if pd.isna(x) or x is pd.NA or not str(x).strip() else str(x).strip().upper()
    )


    # EmailAddress
    user_contact_transformed['EmailAddress'] = user_contact_transformed['emailAddress'].apply(
        lambda x: str(x).strip().upper() if pd.notnull(x) else ""
    )

    # Add RowUnique column with numbers cycling from 1 to 9
    user_contact_transformed['RowUnique'] = user_contact_transformed.index.map(lambda x: (x % 9) + 1)

    # ClientContactCode
    user_contact_transformed['ClientContactCode'] = user_contact_transformed.apply(
        lambda row: f"{row['VendorCode']}{row['RowUnique']}", axis=1
    )

    return user_contact_transformed

# Transform the Contact data
transformed_contact = transform_user_contact(user_contact, user_basic)

transformed_contact['VendorCode'] = transformed_contact['VendorCode'].str.strip()
transformed_contact.replace("", pd.NA, inplace=True)
transformed_contact.dropna(subset=["VendorCode"], how='all', inplace=True)

# Display the transformed data
transformed_contact

,Operation,VendorCode,VendorCode_Old,FirstName,LastName,emailAddress,Telp1,Telp2,Fax,designation,contactStatus,isPrimary,EntryUser,EntryDate,UpdateUser,UpdateDate,Vendor Code,First Name,Last Name,EmailAddress,RowUnique,ClientContactCode
0,CREATE,1280002097,V000000132,ASTRA DAIHATSU,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002097,ASTRA DAIHATSU,-,-,1,12800020971
1,CREATE,1280002098,V000000133,HADJI KALLA MAROS,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002098,HADJI KALLA MAROS,-,-,2,12800020982
2,CREATE,1280002099,V000000134,ISUZU MOBILINDO PLAZA,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002099,ISUZU MOBILINDO PLAZA,-,-,3,12800020993
3,CREATE,1280002100,V000000135,HOTEL DALTON MAKASSAR,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002100,HOTEL DALTON MAKASSAR,-,-,4,12800021004
4,CREATE,1280002101,V000000136,HOTEL SWIS BELL,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002101,HOTEL SWIS BELL,-,-,5,12800021015
5,CREATE,1280002102,V000000137,HOTEL PREMIER MAKASSAR,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002102,HOTEL PREMIER MAKASSAR,-,-,6,12800021026
6,CREATE,1280002103,V000000138,HOTEL CLARO,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002103,HOTEL CLARO,-,-,7,12800021037
7,CREATE,1280002104,V000000139,HOTEL HARPER,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002104,HOTEL HARPER,-,-,8,12800021048
8,CREATE,1280002105,V000000140,MITRA TEKNIK,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002105,MITRA TEKNIK,-,-,9,12800021059
9,CREATE,1280002106,V000000141,A2L TRAVEL,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002106,A2L TRAVEL,-,-,1,12800021061
10,CREATE,1280002107,V000000142,CAHAYA SAGA,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002107,CAHAYA SAGA,-,-,2,12800021072
11,CREATE,1280002108,V000000143,PATTENE 88 BUSINESS PARK,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002108,PATTENE 88 BUSINESS PARK,-,-,3,12800021083
12,CREATE,1280002109,V000000144,GRAHA INFORMATIKA NUSANTARA,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002109,GRAHA INFORMATIKA NUSANTARA,-,-,4,12800021094
13,CREATE,1280002110,V000000145,ASRY TEKNIK,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002110,ASRY TEKNIK,-,-,5,12800021105
14,CREATE,1280002111,V000000146,BOSOWA BERLIAN MOTOR KIMA,-,-,<NA>,<NA>,<NA>,<NA>,<NA>,TRUE,<NA>,<NA>,<NA>,<NA>,1280002111,BOSOWA BERLIAN MOTOR KIMA,-,-,6,12800021116

### Cleansing

In [62]:
# List of DataFrames to process
dataframes_to_clean = [
    transformed_basic,
    transformed_contact,
    transformed_team_member,
    transformed_user_bank,
    transformed_user_purch,
    transformed_user_company
]

# Iterate through each DataFrame and replace missing values with blank ("")
for i, df in enumerate(dataframes_to_clean):
    dataframes_to_clean[i] = df.fillna("")  # Replace missing values in-place

# Optionally, reassign the cleaned DataFrames back to their original names
(
    transformed_basic,
    transformed_contact,
    transformed_team_member,
    transformed_user_bank,
    transformed_user_purch,
    transformed_user_company
) = dataframes_to_clean

# 3.1 Mapping to Mass Create GEP Template

#### Phase 0 - Org Entity

In [63]:
# Step 1: Rename "PurchOrg" in transformed_user_purch to match "CompanyCode"
transformed_user_purch_adjusted = transformed_user_purch.rename(columns={"PurchOrg": "CompanyCode"})

# Step 2: Define the required columns for `org_entities`
required_columns = [
    "VendorCode", "CompanyCode", "Master Engagement ModelId-Cocode",
    "Master Entity Type", "Master LOB Code", "AddedpaymentTermRowNumber",
    "AddedwithholdingTaxId", "AddedincoTermId", "AddedlobDetailsRowNumber",
    "AddedcompanyDataExtensionRowNumber", "AddedpurchasingDataExtensionRowNumber",
    "AddedreconciliationAccountRowNumber"
]

# Step 3: Ensure all required columns exist in both DataFrames
# For missing columns, add them with NaN values
for col in required_columns:
    if col not in transformed_user_company.columns:
        transformed_user_company[col] = ""
    if col not in transformed_user_purch_adjusted.columns:
        transformed_user_purch_adjusted[col] = ""

# Step 4: Filter both DataFrames to include only the required columns
filtered_user_company = transformed_user_company[required_columns]
filtered_user_purch = transformed_user_purch_adjusted[required_columns]

# Step 5: Combine the rows from both DataFrames
combined_orgentity_data = pd.concat(
    [filtered_user_company, filtered_user_purch],  # Combine both DataFrames
    ignore_index=True  # Reset index for a clean result
)

In [64]:
org_entities = pd.DataFrame()

# Populate Org_Entities sheet
org_entities["clientPartnerCode"] = combined_orgentity_data["VendorCode"]
org_entities["gepPartnerCode"] = combined_orgentity_data["VendorCode"]
org_entities['clientContactCode'] = ""
org_entities["engagementModelId"] = combined_orgentity_data["Master Engagement ModelId-Cocode"]
org_entities["contactMappingCode"] = ""
org_entities['onboardingRowNumber'] = ""
org_entities["entityCode"] = combined_orgentity_data["CompanyCode"]
org_entities["entityType"] = combined_orgentity_data["Master Entity Type"]
org_entities["lobEntityCode"] = combined_orgentity_data["Master LOB Code"]
org_entities["isDefault"] = 'FALSE'
org_entities["paymentTermRowNumber"] = combined_orgentity_data["AddedpaymentTermRowNumber"]
org_entities["withholdingTaxId"] = combined_orgentity_data["AddedwithholdingTaxId"]
org_entities["incoTermId"] = combined_orgentity_data["AddedincoTermId"]
org_entities["lobDetailsRowNumber"] = combined_orgentity_data["AddedlobDetailsRowNumber"]
org_entities["companyDataExtensionRowNumber"] = combined_orgentity_data["AddedcompanyDataExtensionRowNumber"]
org_entities["purchasingDataExtensionRowNumber"] = combined_orgentity_data["AddedpurchasingDataExtensionRowNumber"]
org_entities["reconciliationAccountRowNumber"] = combined_orgentity_data["AddedreconciliationAccountRowNumber"]

In [65]:
org_entities

,clientPartnerCode,gepPartnerCode,clientContactCode,engagementModelId,contactMappingCode,onboardingRowNumber,entityCode,entityType,lobEntityCode,isDefault,paymentTermRowNumber,withholdingTaxId,incoTermId,lobDetailsRowNumber,companyDataExtensionRowNumber,purchasingDataExtensionRowNumber,reconciliationAccountRowNumber
0,1280002097,1280002097,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
1,1280002098,1280002098,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
2,1280002099,1280002099,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
3,1280002100,1280002100,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
4,1280002101,1280002101,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
5,1280002102,1280002102,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
6,1280002103,1280002103,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
7,1280002104,1280002104,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
8,1280002105,1280002105,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
9,1280002106,1280002106,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
10,1280002107,1280002107,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
11,1280002108,1280002108,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
12,1280002109,1280002109,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
13,1280002110,1280002110,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
14,1280002111,1280002111,,10,,,ID7S,Company Code,PE2,FALSE,,10,,,10,,10
15,1280002097,1280002097,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
16,1280002098,1280002098,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
17,1280002099,1280002099,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
18,1280002100,1280002100,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
19,1280002101,1280002101,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
20,1280002102,1280002102,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
21,1280002103,1280002103,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
22,1280002104,1280002104,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
23,1280002105,1280002105,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
24,1280002106,1280002106,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
25,1280002107,1280002107,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
26,1280002108,1280002108,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
27,1280002109,1280002109,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
28,1280002110,1280002110,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,
29,1280002111,1280002111,,181,,,7S00,Purchasing Org,PE2,FALSE,181,,181,,,181,

In [66]:
# Initialize a list to store the new rows for Line Of Business
lob_rows = []

# Create a mapping of lobEntityCode for specific entityCode values
lob_entity_mapping = {'ID90': 'PE1', 'ID91': 'PE1'}

# Create a dictionary for quick lookup of EngagementModelId-LOB from transformed_basic
engagement_model_mapping = transformed_basic.set_index('VendorCode')['EngagementModelId-LOB'].to_dict()

# Process each row in the Org_Entities DataFrame
for _, row in org_entities.iterrows():
    # Skip rows that are not 'Company Code'
    if row['entityType'] != 'Company Code':
        continue

    # Determine the lobEntityCode using the mapping or default to 'PE2'
    lob_entity_code = lob_entity_mapping.get(row['entityCode'], 'PE2')

    # Create a new row for Line Of Business
    new_row = {col: "" for col in org_entities.columns}  # Initialize all columns as blank
    new_row.update({
        'clientPartnerCode': row['clientPartnerCode'],
        'gepPartnerCode': row['gepPartnerCode'],
        'entityCode': lob_entity_code,
        'entityType': 'Line Of Business',
        'lobEntityCode': lob_entity_code,
        'isDefault': row['isDefault'],
        # Assign lobDetailsRowNumber based on the mapping
        'lobDetailsRowNumber': engagement_model_mapping.get(row['clientPartnerCode'], "")
    })

    # Append the new row to the list
    lob_rows.append(new_row)

# Convert the list of new rows to a DataFrame and append to org_entities
lob_rows_df = pd.DataFrame(lob_rows)
org_entities = pd.concat([org_entities, lob_rows_df], ignore_index=True)

# Remove duplicate "Line Of Business" rows
# Filter only Line Of Business rows
line_of_business_rows = org_entities[org_entities['entityType'] == 'Line Of Business']

# Drop duplicates based on the specified columns
unique_line_of_business = line_of_business_rows.drop_duplicates(
    subset=['clientPartnerCode', 'gepPartnerCode', 'entityCode', 'entityType', 'lobEntityCode'],
    keep='first'
)

# Keep the non-Line Of Business rows
non_line_of_business_rows = org_entities[org_entities['entityType'] != 'Line Of Business']

# Concatenate the unique Line Of Business rows with the rest of the rows
org_entities = pd.concat([non_line_of_business_rows, unique_line_of_business], ignore_index=True)

print("Rows for 'Line Of Business' added and duplicate Line Of Business rows removed.")

Rows for 'Line Of Business' added and duplicate Line Of Business rows removed.

In [67]:
transformed_basic

,VendorCode_Old,VendorCode,AccountGroup,Name,Prefix,Subcategory,ServiceLocation,Classification,ControlDepartment,SearchTerm,Remark,MaterialServiceSupplied,Address1,Address2,CountryID,State,City,PostalCode,Currency,POBox,VatReg,NIK,NITKU,VatLama,LOB,TradingPartner,InstructionKey,SupplierManagerEmail,EntryUser,EntryDate,UpdateUser,UpdateDate,EngagementModelId-LOB,AccountGroupDesc,Full Name,Count Full Name,Name1,Name2,Name3,Name4,Master Check Prefix,SubCategoryId1,SubCategoryId2,SubCategoryIdResult,Master ServiceLocationId,Master Classification,Master Ctrl.Department,Master Currency,AddressFull,Count Full Address,Master Address1,Master Address2,Master Address3,Master Address4,TempAddress5,Master StateId,Master TradingPartnerGEP,Master InstructionKeyGEP,LocationCode,LocationName
0,V000000132,1280002097,ZTPV,ASTRA DAIHATSU,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL URIP SUMOHARJO NO64 SINRIJALA KEC PANAKKUKA...,,ID,SULAWESI SELATAN,MAKASSAR,90144,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"ASTRA DAIHATSU, -",17,"ASTRA DAIHATSU, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL URIP SUMOHARJO NO64 SINRIJALA KEC PANAKKUKA...,79,JL URIP SUMOHARJO NO64 SINRIJALA KE,C PANAKKUKANG KOTA MAKASSAR SULAWES,I SELATAN,,,,,,1280002097,1280002097
1,V000000133,1280002098,ZTPV,HADJI KALLA MAROS,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL POROS MAKASSAR - MAROS NO6 TAROADA KEC TURI...,,ID,SULAWESI SELATAN,MAKASSAR,90241,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HADJI KALLA MAROS, -",20,"HADJI KALLA MAROS, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL POROS MAKASSAR - MAROS NO6 TAROADA KEC TURI...,83,JL POROS MAKASSAR - MAROS NO6 TAROA,DA KEC TURIKALE KABUPATEN MAROS SUL,AWESI SELATAN,,,,,,1280002098,1280002098
2,V000000134,1280002099,ZTPV,ISUZU MOBILINDO PLAZA,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL URIP SUMOHARDJO KM6 MAKASSAR,,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"ISUZU MOBILINDO PLAZA, -",24,"ISUZU MOBILINDO PLAZA, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL URIP SUMOHARDJO KM6 MAKASSAR,31,JL URIP SUMOHARDJO KM6 MAKASSAR,,,,,,,,1280002099,1280002099
3,V000000135,1280002100,ZTPV,HOTEL DALTON MAKASSAR,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL PERINTIS KEMERDEKAAN NO2 KM 16 MAKASSAR,,ID,SULAWESI SELATAN,MAKASSAR,90234,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HOTEL DALTON MAKASSAR, -",24,"HOTEL DALTON MAKASSAR, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL PERINTIS KEMERDEKAAN NO2 KM 16 MAKASSAR,42,JL PERINTIS KEMERDEKAAN NO2 KM 16 M,AKASSAR,,,,,,,1280002100,1280002100
4,V000000136,1280002101,ZTPV,HOTEL SWIS BELL,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL UJUNG PANDANG NO8 BONTOALA KEC MAKASSAR KOT...,,ID,SULAWESI SELATAN,MAKASSAR,90111,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HOTEL SWIS BELL, -",18,"HOTEL SWIS BELL, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL UJUNG PANDANG NO8 BONTOALA KEC MAKASSAR KOT...,73,JL UJUNG PANDANG NO8 BONTOALA KEC M,AKASSAR KOTA MAKASSAR SULAWESI SELA,TAN,,,,,,1280002101,1280002101
5,V000000137,1280002102,ZTPV,HOTEL PREMIER MAKASSAR,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL PERINTIS KEMERDEKAAN NOKM16 NO88 PAI KEC BI...,,ID,SULAWESI SELATAN,MAKASSAR,90241,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HOTEL PREMIER MAKASSAR, -",25,"HOTEL PREMIER MAKASSAR, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL PERINTIS KEMERDEKAAN NOKM16 NO88 PAI KEC BI...,87,JL PERINTIS KEMERDEKAAN NOKM16 NO88,PAI KEC BIRINGKANAYA KOTA MAKASSAR,SULAWESI SELATAN,,,,,,1280002102,1280002102
6,V000000138,1280002103,ZTPV,HOTEL CLARO,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL A P PETTARANI NO03 MANNURUKI KEC TAMALATE K...,,ID,SULAWESI SELATAN,MAKASSAR,90221,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HOTEL CLARO, -",14,"HOTEL CLARO, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL A P PETTARANI NO03 MANNURUKI KEC TAMALATE K...,75,JL A P PETTARANI NO03 MANNURUKI KEC,TAMALATE KOTA MAKASSAR SULAWESI SE,LATAN,,,,,,1280002103,1280002103
7,V000000139,1280002104,ZTPV,HOTEL HARPER,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JLPERINTIS KEMERDEKAAN KM 15 NO14 A PAI KEC BI...,,ID,SULAWESI SELATAN,MAKASSAR,90243,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"HOTEL HARPER, -",15,"HOTEL HARPER, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JLPERINTIS KEMERDEKAAN KM 15 NO14 A PAI KEC BI...,87,JLPERINTIS KEMERDEKAAN KM 15 NO14 A,PAI KEC BIRINGKANAYA KOTA MAKASSAR,SULAWESI SELATAN,,,,,,1280002104,1280002104
8,V000000140,1280002105,ZTPV,MITRA TEKNIK,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,MAKASSAR,,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"MITRA TEKNIK, -",15,"MITRA TEKNIK, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAKASSAR,8,MAKASSAR,,,,,,,,1280002105,1280002105
9,V000000141,1280002106,ZTPV,A2L TRAVEL,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,MAKASSAR,,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"A2L TRAVEL, -",13,"A2L TRAVEL, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAKASSAR,8,MAKASSAR,,,,,,,,1280002106,1280002106
10,V000000142,1280002107,ZTPV,CAHAYA SAGA,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL MONGINSIDI NO90 AB MARICAYA BARU KEC MAKASS...,,ID,SULAWESI SELATAN,MAKASSAR,90141,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"CAHAYA SAGA, -",14,"CAHAYA SAGA, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL MONGINSIDI NO90 AB MARICAYA BARU KEC MAKASS...,79,JL MONGINSIDI NO90 AB MARICAYA BARU,KEC MAKASSAR KOTA MAKASSAR SULAWES,I SELATAN,,,,,,1280002107,1280002107
11,V000000143,1280002108,ZTPV,PATTENE 88 BUSINESS PARK,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,PATENE MAROS,,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"PATTENE 88 BUSINESS PARK, -",27,"PATTENE 88 BUSINESS PARK, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,PATENE MAROS,12,PATENE MAROS,,,,,,,,1280002108,1280002108
12,V000000144,1280002109,ZTPV,GRAHA INFORMATIKA NUSANTARA,PT,,Indonesia,Local-Enterprise-Regular,Finance & Accounting,SULAWESI,,,JL KAKATUA MATTOANGING NO16 GADDONG KEC MAKASS...,,ID,SULAWESI SELATAN,MAKASSAR,90154,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"GRAHA INFORMATIKA NUSANTARA, PT",31,"GRAHA INFORMATIKA NUSANTARA, PT",,,,PT,,,,123,Local-Enterprise-Regular,Finance & Accounting,IDR,JL KAKATUA MATTOANGING NO16 GADDONG KEC MAKASS...,79,JL KAKATUA MATTOANGING NO16 GADDONG,KEC MAKASSAR KOTA MAKASSAR SULAWES,I SELATAN,,,,,,1280002109,1280002109
13,V000000145,1280002110,ZTPV,ASRY TEKNIK,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,MAROS,,ID,SULAWESI SELATAN,MAKASSAR,00000,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"ASRY TEKNIK, -",14,"ASRY TEKNIK, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,MAROS,5,MAROS,,,,,,,,1280002110,1280002110
14,V000000146,1280002111,ZTPV,BOSOWA BERLIAN MOTOR KIMA,-,,Indonesia,Local-Individual-Non NPWP,Finance & Accounting,SULAWESI,,,JL KAPASA RAYA NO17 BIRA KEC TAMALANREA KOTA M...,,ID,SULAWESI SELATAN,MAKASSAR,90243,IDR,,000000000000000,0000000000000000,,,PE2,,,,,,,,2,ZTPV - Third Party Vendor,"BOSOWA BERLIAN MOTOR KIMA, -",28,"BOSOWA BERLIAN MOTOR KIMA, -",,,,-,,,,123,Local-Individual-Non NPWP,Finance & Accounting,IDR,JL KAPASA RAYA NO17 BIRA KEC TAMALANREA KOTA M...,70,JL KAPASA RAYA NO17 BIRA KEC TAMALA,NREA KOTA MAKASSAR SULAWESI SELATAN,,,,,,,1280002111,1280002111

#### Phase 1

In [68]:
transformed_user_bank.to_clipboard(index = False)

In [69]:
# Initialize new dataframes
partners = pd.DataFrame()
basic_details = pd.DataFrame()
partner_contacts = pd.DataFrame()
location_details = pd.DataFrame()
SourceSystem_Details = pd.DataFrame()
Identification_Details = pd.DataFrame()


# Filling
transformed_contact["Telp1"] = transformed_contact["Telp1"].fillna("")
transformed_contact["Telp2"] = transformed_contact["Telp2"].fillna("")
transformed_contact["Fax"] = transformed_contact["Fax"].fillna("")
transformed_basic["Address2"] = transformed_basic["Address2"].fillna("")
transformed_basic["State"] = transformed_basic["State"].fillna("")

# Populate Partners sheet
partners["clientPartnerCode"] = transformed_basic["VendorCode"]
partners["gepPartnerCode"] = transformed_basic["VendorCode"]

# Populate BasicDetails sheet
basic_details["clientPartnerCode"] = transformed_basic["VendorCode"]
basic_details["gepPartnerCode"] = transformed_basic["VendorCode"]
basic_details["cultureCode"] = ""
basic_details["legalCompanyName"] = transformed_basic["Name"]
basic_details["origination"] = ""
basic_details["doingBusinessAs"] = ""
basic_details["inviteSupplier"] = ""
basic_details["reasonsForAdding"] = ""
basic_details["partnerStatus"] = "Identified"
basic_details["normalizedName"] = transformed_basic["SearchTerm"]
basic_details["categories"] = transformed_basic["SubCategoryIdResult"]
basic_details["regions"] = transformed_basic["Master ServiceLocationId"]
basic_details["blockingReason"] = ""
basic_details["isPreferredSupplier"] = ""

# Populate Partner_Contacts sheet
partner_contacts["clientPartnerCode"] = transformed_contact["VendorCode"]
partner_contacts["gepPartnerCode"] = transformed_contact["VendorCode"]
partner_contacts["clientContactCode"] = transformed_contact["ClientContactCode"]
partner_contacts["gepContactCode"] = ""
partner_contacts["firstName"] = transformed_contact["FirstName"]
partner_contacts["lastName"] = transformed_contact["LastName"].apply(
    lambda x: "-" if pd.isna(x) or not str(x).strip() else str(x).strip()
)
partner_contacts["emailAddress"] = transformed_contact["emailAddress"]
partner_contacts["timeZone"] = ""
partner_contacts["language"] = ""
partner_contacts["contactStatus"] = transformed_contact["contactStatus"]
partner_contacts["designation"] = transformed_contact["designation"]
partner_contacts["primaryPhoneNo"] = transformed_contact["Telp1"]
partner_contacts["primaryPhoneExtension"] = transformed_contact["Telp2"]
partner_contacts["secondaryPhoneNo"] = ""
partner_contacts["secondaryPhoneExtension"] = ""
partner_contacts["iSDCode"] = ""
partner_contacts["mobile"] = ""
partner_contacts["faxNo"] = ""
partner_contacts["isPrimary"] = transformed_contact["isPrimary"]

# Populate Location_Details sheet
location_details["clientPartnerCode"] = transformed_basic["VendorCode"]
location_details["gepPartnerCode"] = transformed_basic["VendorCode"]
location_details["cultureCode"] = ""
location_details["locationCode"] = transformed_basic["LocationCode"]
location_details["locationName"] = transformed_basic["LocationName"]
location_details["currenciesSupported"] = transformed_basic["Currency"]
location_details["locationTypes"] = "Headquarter Location,Ordering Location,Remit To Location"
location_details["isHeadquarter"] = True
location_details["addressLine1"] = transformed_basic["Address1"]
location_details["addressLine2"] = transformed_basic["Address2"]
location_details["addressLine3"] = ""
location_details["city"] = transformed_basic["City"]
location_details["stateCode"] = transformed_basic["Master StateId"]
location_details["stateOther"] = ""
location_details["countryCode"] = transformed_basic["CountryID"]
location_details["zipCode"] = transformed_basic["PostalCode"]
location_details["faxNo"] = ""
location_details["phoneNo"] = transformed_contact["Telp1"]
location_details["phoneOther"] = ""
location_details["phoneExtension"] = ""
location_details["phoneOtherExtension"] = ""
location_details["county"] = ""
location_details["poBoxNumber"] = ""



#Populate SourceSystem_Details sheet
SourceSystem_Details['clientPartnerCode'] = transformed_basic["VendorCode"]
SourceSystem_Details['gepPartnerCode'] = transformed_basic["VendorCode"]
SourceSystem_Details['cultureCode'] = ""
SourceSystem_Details['name'] = org_entities['lobEntityCode'].apply(
    lambda x: "SAP PE2" if x == "PE2" else ("SAP PE1" if x == "PE1" else "")
)

SourceSystem_Details['value'] = transformed_basic["VendorCode"]



#Identification_Details
# Melt the relevant columns into rows
Identification_Details = pd.melt(
    transformed_basic,
    id_vars=["VendorCode", "CountryID"],  # Columns to keep as is
    value_vars=["VatReg", "NIK", "NITKU", "VatLama"],  # Columns to pivot
    var_name="identificationType",  # New column for the pivoted column names
    value_name="identificationNumber"  # New column for the pivoted values
)

column_mapping = {
    "VatReg": "VAT Registration Number",
    "VatLama": "VAT Lama"

}

# Replace the values in `identificationType` column
Identification_Details["identificationType"] = Identification_Details["identificationType"].replace(column_mapping)


# Drop rows where identificationNumber is NaN or blank
Identification_Details.dropna(subset=["identificationNumber"], inplace=True)
Identification_Details = Identification_Details[
    ~Identification_Details["identificationNumber"].isna() & 
    (Identification_Details["identificationNumber"].str.strip() != "")
]

# Add and rearrange columns
Identification_Details = Identification_Details.assign(
    clientPartnerCode=Identification_Details["VendorCode"],
    gepPartnerCode=Identification_Details["VendorCode"],
    cultureCode="",
    countryCode=Identification_Details["CountryID"]
).loc[:, [
    "clientPartnerCode", "gepPartnerCode", "cultureCode", 
    "identificationType", "identificationNumber", "countryCode"
]]

#### Phase 2

In [70]:
Onboarding_Approval = pd.DataFrame()
Location_EngagementModel = pd.DataFrame()
Location_IdentificationTypes = pd.DataFrame()
Payment_Terms = pd.DataFrame()
Banking_Information = pd.DataFrame()
Company_Data_Extension = pd.DataFrame()
Purchasing_Data_Extension = pd.DataFrame()

#### Onboarding Approval
Onboarding_Approval["clientPartnerCode"] = transformed_basic["VendorCode"]
Onboarding_Approval["gepPartnerCode"] = transformed_basic["VendorCode"]
Onboarding_Approval['onboardingRowNumber'] = "1"
Onboarding_Approval['onboardingRelationshipName'] = transformed_basic['AccountGroupDesc']
Onboarding_Approval['overallStatus'] = "Approved"
Onboarding_Approval['isTriggerRelationship'] = ""
Onboarding_Approval['lastRefreshDate'] = ""

# Filter org_entities for rows where entityType is "Company Code" or "Purchasing Org"
filtered_org_entities = org_entities[org_entities['entityType'].isin(['Company Code', 'Purchasing Org'])]

# Initialize Location_EngagementModel DataFrame with required columns
Location_EngagementModel = pd.DataFrame()

# Populate Location_EngagementModel with data from filtered_org_entities
Location_EngagementModel["clientPartnerCode"] = filtered_org_entities["clientPartnerCode"]
Location_EngagementModel["gepPartnerCode"] = filtered_org_entities["gepPartnerCode"]
Location_EngagementModel["cultureCode"] = ""  # Default value
Location_EngagementModel["locationCode"] = filtered_org_entities["clientPartnerCode"]  # Use clientPartnerCode as locationCode
Location_EngagementModel["engagementModelId"] = filtered_org_entities["engagementModelId"]  # Use engagementModelId from org_entities
Location_EngagementModel["engagementType"] = "Procurement"  # Default value
Location_EngagementModel["locationType"] = "Headquarter Location,Ordering Location,Remit To Location"  # Default value
Location_EngagementModel["partnerLocationCurrencyList"] = transformed_basic["Master Currency"]  # Populate from transformed_basic
Location_EngagementModel["status"] = "Non Go Live"  # Default value
currency_lookup = Location_EngagementModel.dropna(subset=["partnerLocationCurrencyList"]).set_index("clientPartnerCode")["partnerLocationCurrencyList"].to_dict()

# Fill missing values using the lookup dictionary
Location_EngagementModel["partnerLocationCurrencyList"] = Location_EngagementModel["partnerLocationCurrencyList"].fillna(Location_EngagementModel["clientPartnerCode"].map(currency_lookup))


#### Location_IdentificationTypes
Location_IdentificationTypes = pd.melt(
    transformed_basic,
    id_vars=["VendorCode", "CountryID"],  # Columns to keep as is
    value_vars=["VatReg", "NIK", "NITKU", "VatLama"],  # Columns to pivot
    var_name="identificationType",  # New column for the pivoted column names
    value_name="identificationNumber"  # New column for the pivoted values
)

column_mapping = {
    "VatReg": "VAT Registration Number",
    "VatLama": "VAT Lama"
}

# Replace the values in `identificationType` column
Location_IdentificationTypes["identificationType"] = Location_IdentificationTypes["identificationType"].replace(column_mapping)

# Drop rows where identificationNumber is NaN or blank
Location_IdentificationTypes.dropna(subset=["identificationNumber"], inplace=True)
Location_IdentificationTypes = Location_IdentificationTypes[
    ~Location_IdentificationTypes["identificationNumber"].isna() & 
    (Location_IdentificationTypes["identificationNumber"].str.strip() != "")
]
# Add and rearrange columns
Location_IdentificationTypes = Location_IdentificationTypes.assign(
    clientPartnerCode=Location_IdentificationTypes["VendorCode"],
    gepPartnerCode=Location_IdentificationTypes["VendorCode"],
    cultureCode="",
    locationCode = Location_IdentificationTypes["VendorCode"],
    countryCode=Location_IdentificationTypes["CountryID"]
).loc[:, [
    "clientPartnerCode", "gepPartnerCode", "cultureCode", "locationCode", 
    "identificationType", "identificationNumber", "countryCode"
]]


#### Payment Terms
Payment_Terms["clientPartnerCode"] = transformed_basic["VendorCode"]
Payment_Terms["gepPartnerCode"] = transformed_basic["VendorCode"]
Payment_Terms['paymentTermRowNumber'] = transformed_user_purch['Master Engagement ModelId-Cocode']
Payment_Terms['paymentTerm'] = transformed_user_purch['Master PaymentTerms']
Payment_Terms['isPrimary'] = True

Banking_Information = pd.DataFrame({
    "clientPartnerCode": transformed_user_bank["VendorCode"],
    "gepPartnerCode": transformed_user_bank["VendorCode"],
    "cultureCode": "",
    "clientBankReferenceId": transformed_user_bank["Master clientBankReferenceId"],
    "abaBankKey": transformed_user_bank["BankKey"],
    "bankAccountNumber": transformed_user_bank["Master BankNumber"],
    "bankBranch": "",
    "bankName": transformed_user_bank["BankName"],
    "locationCodes": transformed_user_bank["Master LocationID"],
    "beneficiaryName": transformed_user_bank["BeneficiaryName"],
    "iban": transformed_user_bank["IBAN"],
    "swiftBic": transformed_user_bank["Master SwiftCode"],
    "unitedStatesACHABA": "",
    "unitedStatesFEDWireABA": "",
    "uSDwithinPaymentAcceptedVia": "",
    "bankTransitNumber": "",
    "bSBNo": "",
    "iFSCcode": "",
    "branchSortcode": "",
    "regulatoryType": "",
    "regulatoryValue": "",
    "nCCTypeCode": "",
    "uSDPaymentAcceptedVia": "",
    "paymentMethodCode": transformed_user_bank["Master Payment Method ID"],
    "stateCode": transformed_user_bank["Master BankCountry"],
    "countryCode": transformed_user_bank["Master BankCountry"],
    "beneficaryAddressLine1": "",
    "beneficaryAddressLine2": "",
    "city": "",
    "zipPostalcode": "",
    "partnerBankType": transformed_user_bank["PartnerBankType"]
})
columns_to_keep_for_1 = [
    "clientPartnerCode", "gepPartnerCode", "locationCodes", 
    "paymentMethodCode", "stateCode", "countryCode"]
mask_payment_code_1 = Banking_Information["paymentMethodCode"] == '3'
for col in Banking_Information.columns:
    if col not in columns_to_keep_for_1:
        Banking_Information.loc[mask_payment_code_1, col] = ""


Company_Data_Extension =  Company_Data_Extension.assign(
    clientPartnerCode = transformed_user_company["VendorCode"],
    gepPartnerCode = transformed_user_company["VendorCode"],
    sortkey = transformed_user_company["SortKey"],
    planningCashManagementgroup = transformed_user_company["Master CashMngmtGroup"],
    paymentMethods = transformed_user_company["Master PaymentMethod"],
    companyDataExtensionRowNumber = transformed_user_company["Master Engagement ModelId-Cocode"])

Purchasing_Data_Extension = Purchasing_Data_Extension.assign(
    clientPartnerCode = transformed_basic["VendorCode"],
    gepPartnerCode = transformed_basic["VendorCode"],
    serviceBased = transformed_user_purch["GRBased"],
    gRBased = transformed_user_purch['SRVBased'],
    SchemaGrpVendr = transformed_user_purch['Schma_Grp_Vendor'],
    purchasingDataExtensionRowNumber = transformed_user_purch["Master Engagement ModelId-Cocode"])

#### Phase 3

In [71]:
LOB_Details = pd.DataFrame()
Recon_Account = pd.DataFrame()
Location_WithholdingTax = pd.DataFrame()
team_Member = pd.DataFrame()
customAttributes = pd.DataFrame()

LOB_Details = LOB_Details.assign(
    clientPartnerCode = transformed_basic["VendorCode"],
    gepPartnerCode = transformed_basic["VendorCode"],
    tradingPartner = transformed_basic["TradingPartner"],
    instructionKey = transformed_basic['InstructionKey'],
    lobDetailsRowNumber = transformed_basic['EngagementModelId-LOB'])

Recon_Account = Recon_Account.assign(
    clientPartnerCode = transformed_user_company["VendorCode"],
    gepPartnerCode = transformed_user_company["VendorCode"],
    reconciliationAccountRowNumber = transformed_user_company["Master Engagement ModelId-Cocode"],
    reconciliationAccount = transformed_user_company['Master ReconAccount'],
    isPrimary = 'TRUE'
)

Location_WithholdingTax = Location_WithholdingTax.assign(
    clientPartnerCode = transformed_user_company["VendorCode"],
    gepPartnerCode = transformed_user_company["VendorCode"],
    CultureCode	= "",
    locationCode = transformed_user_company["Master LocationCode"],
    withholdingTaxId = transformed_user_company["Master Engagement ModelId-Cocode"],
    taxTypeCode = transformed_user_company['Master taxTypeCode'],
    taxTypeName = transformed_user_company['Master taxTypeName'],
    taxCodeName = transformed_user_company['Master taxCodeName'],
    taxCodeCode = transformed_user_company['Master taxCodeCode'],
    subTypeName = transformed_user_company['Master subTypeName'],
    subTypeCode = transformed_user_company['Master subTypeCode'],
    taxDescription = transformed_user_company['Master taxDescription'],
    taxPercentage = transformed_user_company['Master taxPercentage'])

team_Member = team_Member.assign(
    clientPartnerCode = transformed_team_member["VendorCode"],
    gepPartnerCode = transformed_team_member["VendorCode"],
    contactCode = "",
	stakeholderName = transformed_team_member["MasterStakeholderName"],
    emailAddress = transformed_team_member['MasterEmailAddress'],
    roleId = transformed_team_member['MasterRoleId'],
    roleName = transformed_team_member['MasterRoleName'])

customAttributes = customAttributes.assign(

    clientPartnerCode = transformed_basic["VendorCode"],
    gepPartnerCode = transformed_basic["VendorCode"],
    supplierNamePrefix = transformed_basic['Master Check Prefix'],
    classification = transformed_basic['Master Classification'],
    controlDepartment = transformed_basic['Master Ctrl.Department'],
    remark = transformed_basic['Remark'],
    materialServicesupplied	= "",
    type = "")

Location_IncoTerms = pd.DataFrame()

Location_IncoTerms = Location_IncoTerms.assign(
    clientPartnerCode = transformed_user_purch["VendorCode"],
    gepPartnerCode = transformed_user_purch["VendorCode"],
    cultureCode = "",
    locationCode = transformed_user_purch['Master LocationCode'],
    incoTermId = transformed_user_purch['Master Engagement ModelId-Cocode'],
    division = "",
    incoTerm = transformed_user_purch['Master Incoterms'],
    description = transformed_user_purch['Master Incoterms'])

## Export

In [72]:
from datetime import datetime

# Define the Excel file path
excel_file_path = os.path.join(output_folder, f"Mass_Create_{timestamp}.xlsx")

# Create a combined Excel file
output_file = os.path.join(output_folder, f"Mass Create_{timestamp}.xlsx")

# Dictionary of dataframes to write
dataframes = {
    "Partners": partners,
    "BasicDetails": basic_details,
    "Partner_Contacts": partner_contacts,
    "Location_Details": location_details,
    "Org_Entities": org_entities,
    "SourceSystem_Details": SourceSystem_Details,
    "Identification_Details": Identification_Details,
    "Onboarding_Approval": Onboarding_Approval,
    "Location_EngagementModel": Location_EngagementModel,
    "Location_IdentificationTypes": Location_IdentificationTypes,
    "Payment_Terms": Payment_Terms,
    "Banking_Information": Banking_Information,
    "Company_Data_Extension": Company_Data_Extension,
    "Purchasing_Data_Extension": Purchasing_Data_Extension,
    "LOB_Details": LOB_Details,
    "Recon_Account": Recon_Account,
    "Location_WithholdingTax": Location_WithholdingTax,
    "team_Member": team_Member,
    "customAttributes": customAttributes,
    "Location_IncoTerms": Location_IncoTerms
}

# Write each dataframe to a separate sheet in the Excel file
with pd.ExcelWriter(output_file, engine='openpyxl') as writer:
    for sheet_name, df in dataframes.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

output_file

'C:\\Users\\10101647\\OneDrive - JAPFA\\Documents\\Mass Create GEP Automation\\Mass Create\\Automation\\Combined_Data_20250526_1441\\Mass Create_20250526_1441.xlsx'

## Batch

In [73]:
# Define the new folder name
new_folder_name = "Batch_Output"

# Combine the paths to create the full path for the new folder
output_folder_batch = os.path.join(output_folder, new_folder_name)

In [74]:
# Ensure the new folder exists
if not os.path.exists(output_folder_batch):
    os.makedirs(output_folder_batch)
    print(f"New folder created at: {output_folder_batch}")
else:
    print(f"Folder already exists at: {output_folder_batch}")

# Define batch sizes: first 1, then 10, 50, 100; default for subsequent batches is 350
batch_sizes = [1, 10, 50, 100]
default_batch_size = 350

# Ensure "Partners" exists in the dataframes dictionary
if 'Partners' in dataframes:
    partners_df = dataframes['Partners']

    # Ensure "State Code" is treated as a string
    if 'State Code' in partners_df.columns:
        partners_df['State Code'] = partners_df['State Code'].astype(str)

    start_index = 0
    batch_index = 1  # Batch numbering

    while start_index < len(partners_df):
        # Determine current batch size based on our sequence or use default afterward
        if batch_index <= len(batch_sizes):
            current_batch_size = batch_sizes[batch_index - 1]
        else:
            current_batch_size = default_batch_size

        # Define the batch file name
        batch_file_name = os.path.join(
            output_folder_batch,
            f"Mass Create Data Batch {batch_index}.xlsx"
        )

        # Get the chunk of rows
        end_index = min(start_index + current_batch_size, len(partners_df))
        partners_chunk = partners_df.iloc[start_index:end_index]

        # Write the batch to an Excel file
        with pd.ExcelWriter(batch_file_name, engine='xlsxwriter') as batch_writer:
            # Save the chunk of "Partners" data
            partners_chunk.to_excel(batch_writer, sheet_name='Partners', index=False)

            # Iterate through other dataframes for mapping
            for sheet_name, df in dataframes.items():
                if sheet_name != 'Partners':
                    # Filter the DataFrame based on the unique values from "Partners"
                    filtered_df = df[df.iloc[:, 0].isin(partners_chunk.iloc[:, 0].unique())]
                    # Write the filtered DataFrame to the batch Excel file if it contains data
                    if not filtered_df.empty:
                        filtered_df.to_excel(batch_writer, sheet_name=sheet_name, index=False)

        print(f"Batch {batch_index} saved successfully with {len(partners_chunk)} rows to: {batch_file_name}")

        # Update the start index and increment batch index
        start_index = end_index
        batch_index += 1

else:
    print("Error: 'Partners' sheet not found in the data.")

New folder created at: C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Mass Create\Automation\Combined_Data_20250526_1441\Batch_Output
Batch 1 saved successfully with 1 rows to: C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Mass Create\Automation\Combined_Data_20250526_1441\Batch_Output\Mass Create Data Batch 1.xlsx
Batch 2 saved successfully with 10 rows to: C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Mass Create\Automation\Combined_Data_20250526_1441\Batch_Output\Mass Create Data Batch 2.xlsx
Batch 3 saved successfully with 4 rows to: C:\Users\10101647\OneDrive - JAPFA\Documents\Mass Create GEP Automation\Mass Create\Automation\Combined_Data_20250526_1441\Batch_Output\Mass Create Data Batch 3.xlsx